In [5]:
s="Rukaiya"

In [6]:
s

'Rukaiya'

In [7]:
s='Rukaiya'

In [8]:
s

'Rukaiya'

In [3]:
r="My name's not added in the list"

In [4]:
r

"My name's not added in the list"

But suppose instead of r="My name's not added in the list" if we type as follows

In [5]:
r="My name"s not added in the list"

SyntaxError: invalid syntax (Temp/ipykernel_19632/2882580907.py, line 1)

It would give an Error, why?
Because " " it seems incomplete to the interpreter

In [2]:
r="My name's not added in the list"
r[0]

'M'

In [3]:
r[0:-9:1]

"My name's not added in"

In [4]:
r[::]

"My name's not added in the list"

In [5]:
r[:-1]

"My name's not added in the lis"

In [6]:
r[-1:-11:-1]

'tsil eht n'

Here print all the characters one by one using for loop

In [7]:
for i in range(len(r)):
    print(r[i],end=" ")

M y   n a m e ' s   n o t   a d d e d   i n   t h e   l i s t

print it in reverse order

In [8]:
for i in range(1,len(r)+1):
    print(r[-i])

t
s
i
l

e
h
t

n
i

d
e
d
d
a

t
o
n

s
'
e
m
a
n

y
M

In [25]:
r="My name's not added in the list"
for i in r:
    print(i)

M
y

n
a
m
e
'
s

n
o
t

a
d
d
e
d

i
n

t
h
e

l
i
s
t

In [22]:
r="My name's not added in the list"
for i in range(r):
    if i==type(str):
        print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
r="My name's not added in the list"

print(r[::-1])

tsil eht ni dedda ton s'eman yM

In [5]:
#Here the upper bound is not included hence M is not getting printed
r="My name's not added in the list"
for i in range(len(r)):
    print(r[:-i:-1])
    
    break

tsil eht ni dedda ton s'eman y

In [2]:

r="My name's not added in the list"
for i in range(len(r)):
    print(r[::-1])
    break

tsil eht ni dedda ton s'eman yM

In [64]:
r[::-1]

"tsil eht ni dedda ton s'eman yM"

# Doubt

In [9]:
#Why is M getting printed
r="My name's not added in the list"
for i in range(len(r)):
    print(r[-i])
    3

M
t
s
i
l

e
h
t

n
i

d
e
d
d
a

t
o
n

s
'
e
m
a
n

y

# Doubt Solved
Why M is not getting printed ??

In [1]:
r="My name's not added in the list"
for i in range(1,len(r)):
    print(r[-i])

t
s
i
l

e
h
t

n
i

d
e
d
d
a

t
o
n

s
'
e
m
a
n

y

But here m is not getting printed! In the above output!

In [18]:
r="My name's not added in the list"
for i in range(1,len(r)+1):
    print(r[-i]) #Plus since without it M wont get printed becuase len (r )-1 
#is the end point hence wont print M so will have to add +1 to the list to print it

t
s
i
l

e
h
t

n
i

d
e
d
d
a

t
o
n

s
'
e
m
a
n

y
M

Now Replacing string Characters with other letters

In [73]:
r[0]="r"

TypeError: 'str' object does not support item assignment

BOTH STRING AND LIST CAN BE ITERATED BUT THE DIFFERENCES ARE AS FOLLOWS:

# Important!- Concept of Mutable and Immutable
In String only
error:'str' object does not support item assignment,
This means in String object we cannot assign a particular index a data so here string is immutable object! i.e in any string we wont be able to replace one character with another character!

# STRING IS IMMUTABLE OBJECT     &     LISTS ARE MUTABLE OBJECT

# What is mutability & immutability?
So, at some point we are able to replace the value of some indexes with new values in an iterable object like STRING OR LIST is called mutability. in other terms Able to do manipulation at a particular index is called mutability.
But if manipulation or change of characters at a particular index is not allowed then it is called immutability.

# What is the use of String immutability?
so while we create passwords we dont want them to get changed!
so to maintain them string immutability is very important

In [87]:
l=["abc",342,879.09,True]

In [88]:
l[0]

'abc'

In [89]:
l[0]="ruks"

In [91]:
l #Here it is replacable!

['ruks', 342, 879.09, True]

In [92]:
l=list()

In [ ]:
type(l)

In [96]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[-4:-1]

['orange', 'kiwi', 'melon']

In [97]:
"ruksie"+ "abbas"

'ruksieabbas'

In [98]:
"ruksie" + 5

TypeError: can only concatenate str (not "int") to str

In [100]:
"ruksie" + " 5"

'ruksie 5'

In [107]:
"ruksie" + str(5) #Here we need to do type casting!

'ruksie5'

In [108]:
"ruksie" + [5,9,"List"] #Can only concatenate str (not "list") to str

TypeError: can only concatenate str (not "list") to str

In [109]:
["list",0,9,8] + ["pooo",876,9] # List and list can be concatenated

['list', 0, 9, 8, 'pooo', 876, 9]

###### STRING METHODS>>>> Press Tab in jupyter notebook for all the methods s.f(press tab) for all the methods to appear starting from f

# Press shift & tab inside a function i.e s.format(Here press shift and tab) specifications will appear

In [111]:
r="this is me"

# FIND Method

In [113]:
r.find("i") #Return the lowest index in S where substring i is found,such that sub is contained within S[start:end]
#That is since two "i"'s are present So here we will get the "th i s" string "i" character and not "i s" string character
#since "this is me" "th'i's string 'i' stands first and is the lowest index

2

In [122]:
r.find("is")

2

Now if any string or string character is not available in the string then it will show as follows:

In [9]:
r="this is me"
for i in range(1,len(r)+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
r="this is me"
l=r.find("is me")
for i in range(len("is me")):
    print(l+i)

5
6
7
8
9

In [12]:
l=r.find("is me")
l

5

In [2]:
r.find("i")

2

In [3]:
r.find("this")

0

In [4]:
r.find("is")

2

In [5]:
r.find("me")

8

In [197]:
r.find("q") #Since q is not present in the string

-1

In [198]:
r.find("me")

8

In [199]:
r.find("df")

-1

In [213]:
p=("This is the code to find index values")
o=p.find("is the code to find index values")
for i in range(len("is the code to find index values")):
    print(o+i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

In [214]:
o=p.find("is the code to find index values")

In [215]:
o

5

In [53]:
p=("This is the code to find index values")
s=p.find("is the code")
for i in range(len("is the code")):
    print(s+i)

5
6
7
8
9
10
11
12
13
14
15

In [49]:
p.find("is the code")

5

In [36]:
r.find("x")

-1

In [121]:
r.find() #Doesn't even take empty method

TypeError: find() takes at least 1 argument (0 given)

In [190]:
s="my name is"

# Find individual indexes of n,a,m,e

In [1]:
s="my name is"
s.find('n','a','m','e')

TypeError: find() takes at most 3 arguments (4 given)

In [192]:
s.find("name")

3

In [138]:
f=s.find("name")

In [139]:
f

3

In [143]:
for i in range(len("name")):
    print(i)

0
1
2
3

In [144]:
f=s.find("name")
for i in range(len("name")):# EXPLAINATION: So here l(name)=4 i.e= i in l(name)=0,1,2,3,now  f=s.find("name")=3
    #f=3+i(0,1,2,3) i.e 3+0=3,  3+1=4,  3+2=5,  3+3=6
    print(f+i)

3
4
5
6

In [5]:
s="my name is"

In [7]:
r=s.find("y na")

In [8]:
r

1

In [11]:
for i in range(len("y na")):
    print(r+i)

1
2
3
4

Find individual indexes of i,s

In [60]:
q=s.find("is")

In [63]:
s.find("is")

8

In [67]:
q=s.find("is")
for i in range(len("is")):
    print(q+i)

8
9

In [27]:
for i in s:
    print(i)

m
y

n
a
m
e

i
s

In [163]:
for i in range(len("is")):# So here i=0,1 where q=8
    print(q+i)

8
9

In [32]:
p="Hey there if there then get me what i want!"

In [33]:
p.find("there")

4

In [6]:
#Find the indexes of each character of there string?
p.find("there")
#It will consider the lowest index

4

In [9]:
w=p.find("there")
for i in range(len("there")):
    print(w+i)

4
5
6
7
8

# COUNT method

In [68]:
p="Hey there if there then get me what i want!"
p.count("there") #count is what is the no of occurences of this string throughout the data in the string or even the substring i.e there

2

In [69]:
p.count("t")

6

In [72]:
p.count("what")

1

In [74]:
p.count("if")

1

In [70]:
p.count("l")

0

In [71]:
p.count("e")

8

In [4]:
p.count("There") #This is case Sensitive! i.e it wont print if there is There!i.e present in upper case.

0

In [75]:
p.count("there")

2

# SPLIT method

Return a list of the words in the string, using sep as the delimiter string.They are case sensitive
What is separator?
>sep
  -The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.

In [78]:
p="Hey there if there then get me what i want!"

In [79]:
p.split()

['Hey', 'there', 'if', 'there', 'then', 'get', 'me', 'what', 'i', 'want!']

In [80]:
r="Hey this is my class hours , lets talk later"

In [81]:
r.split(",") #Here it is seperated by the comma and eliminated comma (i.e the separator here itself is a comma)

['Hey this is my class hours ', ' lets talk later']

In [15]:
r.split("a")# So see here the a is eliminated and as a separator comma is used!

['Hey this is my cl', 'ss hours , lets t', 'lk l', 'ter']

In [17]:
type(r.split("a"))

list

In [18]:
r

'Hey this is my class hours , lets talk later'

In [ ]:
#Here in split it doesnt split integer values.

In [84]:
a=122222.4
a.split(".")

AttributeError: 'float' object has no attribute 'split'

In [85]:
a=12564,58
a.split(",")

AttributeError: 'tuple' object has no attribute 'split'

# Upper and Lower case & Capitalize

In [15]:
r="rukSie"

In [16]:
r.upper()

'RUKSIE'

In [17]:
r.lower()

'ruksie'

In [18]:
r.capitalize()

'Ruksie'

# Swapcase method

In [19]:
r.swapcase()#Swaps the lower into upper case and upper into lower case

'RUKsIE'

In [20]:
q="AsGDJDkj"

In [21]:
q.swapcase()

'aSgdjdKJ'

# Join method

In [22]:
" ".join(r)#Adds empty space after every iterable letter

'r u k S i e'

In [23]:
"o".join(s)

'moyo onoaomoeo oios'

In [24]:
".".join(q)#Adds (.) after every iterable letter

'A.s.G.D.J.D.k.j'

# Reversed method

In [25]:
reversed(r) #This way it will return object's location!

In [26]:
r[::-1]

'eiSkur'

In [12]:
l="Details"

In [36]:
l=list("Details")

In [40]:
l

['D', 'e', 't', 'a', 'i', 'l', 's']

In [41]:
list(reversed(l))

['s', 'l', 'i', 'a', 't', 'e', 'D']

In [42]:
list(reversed(l))#

['s', 'l', 'i', 'a', 't', 'e', 'D']

In [46]:
for i in l:
    print(list(reversed(l)))
    break

['s', 'l', 'i', 'a', 't', 'e', 'D']

In [27]:
for i in reversed(r):
    print(i,end="")

eiSkur

TUPLES can be reversed as well

In [47]:
t=("Python")

In [50]:
s=(1,2,3,4)

In [53]:
list(reversed(t))

['n', 'o', 'h', 't', 'y', 'P']

In [54]:
list(reversed(s))

[4, 3, 2, 1]

# Strip method

Here it strips of spaces that is removes spaces from the end and beginning but not from the middle!

In [121]:
s="    ruka "

In [122]:
s.strip()

'ruka'

In [36]:
s.strip()#

'ruka'

In [124]:
e="  ruk  s  "

In [125]:
e.strip()#Here the middle spaces havent yet been removed

'ruk  s'

In [126]:
e.lstrip()#Here the left spaces are removed

'ruk  s  '

In [127]:
e.rstrip()#Here the right spaces are removed

'  ruk  s'

# Replace method

In [128]:
w="greetings from merchants"

In [130]:
w.replace("m", "p")

'greetings frop perchants'

In [131]:
w

'greetings from merchants'

In [3]:
w.replace("n","o")#Here n is replaced by o a single character

'greetiogs from merchaots'

In [4]:
w.replace("n","oooo")#Here n is replaced by oooooo a sub string

'greetioooogs from merchaoooots'

In [5]:
w #Here remember the concept of immutability that string cannot be replaced so the final string will be the original version itself

'greetings from merchants'

In [6]:
#Incase i want to replace the old string with the new string there will be a new memory location assigned to the old one!
#i.e
#REASSIGNMENT AND RECONSTRUCTION OPERATIONS

w=w.replace("n","oooo")

In [7]:
w #here now w is the new original string and the previous memory location is updated

'greetioooogs from merchaoooots'

In [8]:
#In replace method it will not try to replace the original string stored in main memory,
#rather it will create a new memory just above the old memory and in the main memory itself create a new string 
#that will be stored temporarily.

In [9]:
#Ex
w[1]="km" #'str' object does not support item assignment since immutable

TypeError: 'str' object does not support item assignment

# print("Python".replace("y", "h"))

In [2]:
print("Python".replace("y", "h"))

Phthon

# Center method

In [25]:
r="ruksie"

In [27]:
r.center(20,"1")

'1111111ruksie1111111'

In [28]:
r.center(8,"t")

'truksiet'

# Expandtabs method

In [29]:
t="ruks\tmerchant" #Whereever there will be \t there will be a tab using the below function

In [30]:
t

'ruks\tmerchant'

In [31]:
t.expandtabs()

'ruks    merchant'

In [134]:
d="ruksie merchant"

In [135]:
d.expandtabs()#Here it wont take place! Since \t is not mentioned

'ruksie merchant'

In [136]:
f="for\tyou\till\tbe\t"

In [137]:
f.expandtabs()

'for     you     ill     be      '

In [139]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
# 2. Finding number of occurances of a in entire string
# 3. Indexes where a is present 
# 4 . replace all a's with ineuron
#5. print all the words as a list

In [140]:
a.lower()

'we are all part of full stack'

In [141]:
a.count("a")

4

In [147]:
for i in range(len(a)):
    if a[i]=="a":
        print(i)

3
7
12
26

In [143]:
a.replace("a","ineuron")

'We ineuronre ineuronll pineuronrt of Full Stineuronck'

In [148]:
a.split()

['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

# PRACTICE SET QUESTION SIR GAVE!

In [37]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
# 2. Finding number of occurances of a in entire string
# 3. Indexes where a is present 
# 4 . replace all a's with ineuron
#5. print all the words as a list

In [41]:
a="We are all part of Full Stack"

In [42]:
a.lower()

'we are all part of full stack'

In [43]:
for i in a:
    if i=="a":
        print(i)

a
a
a
a

In [44]:
a.count("a")

4

In [45]:
r=a.find("a")

In [46]:
a=" we all are a part of Full Stack"
for i in range(len(a)):
    if a[i]=="a":
        print(i)

4
8
12
15
29

In [47]:
for i in range(len(a)):
    if i==5:
        print(a[i])

l

In [48]:
a.replace("a","ineuron")

' we ineuronll ineuronre ineuron pineuronrt of Full Stineuronck'

In [49]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

# SOLUTION!

In [75]:
a = "We are all part of Full Stack"
# 1. Normalizing entire string in lower case
# 2. Finding number of occurances of a in entire string
# 3. Indexes where a is present 
# 4 . replace all a's with ineuron
#5. print all the words as a list
a.lower()
print("The lower case of the string a is: ",a)
a.count("a")
print("The count of a is:",a)
for i in range(len(a)):
    if a[i]=="a":
        print("The occurences of a in string a is at index:",i,end="")
        print(" ")
print(a.replace("a","ineuron"))
a.split()

The lower case of the string a is:  We are all part of Full Stack
The count of a is: We are all part of Full Stack
The occurences of a in string a is at index: 3
The occurences of a in string a is at index: 7
The occurences of a in string a is at index: 12
The occurences of a in string a is at index: 26
We ineuronre ineuronll pineuronrt of Full Stineuronck

['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [ ]:
#So whatever inbuild methods are going to start from "is" will return True or False values! or Boolean values

In [7]:
r="ruksie"

In [8]:
r.islower()

True

In [9]:
r.isupper()

False

In [10]:
r.isalpha()

True

In [11]:
r.isalnum()#Is it alpha numerical shows true in both cases when alpha and when numerical and when both

True

In [12]:
r.istitle()#The first letter has to be capital

False

In [13]:
r.startswith("o")

False

In [14]:
r.startswith("r") #Remember case sensitive

True

In [15]:
r.endswith("i")

False

In [16]:
r.endswith("e")

True

In [17]:
r.isdigit()

False

In [18]:
r.isspace()

False

# FORMAT FUNCTION  & HOW TO USE FORMAT FUNCTION?

In [20]:
"{}, this is my name.".format("Rukaiya")

'Rukaiya, this is my name.'

In [21]:
"{} is my first name & {} is my last name with {} yrs being my age!".format("Rukaiya","Merchant",23)

'Rukaiya is my first name & Merchant is my last name with 23 yrs being my age!'

In [153]:
a = input()
b = input()

ruk
mer

In [26]:
print("{} {} is my name and my age is {}".format(a,b,23))

ruks merc is my name and my age is 23

In [85]:
s = "this is a full stack batch"
count = 0 
for i in  s :
    count = count +1 
print(count)

26

In [152]:
#Print inverse of the string
for i in s:
    print(s[-i])

TypeError: bad operand type for unary -: 'str'

In [150]:
#Print inverse of the string
s = "this is a full stack batch"
for i in range(1,len(s)):
    print(s[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [166]:
#Now using while loop inverse the string and no using[::-1] and no for loop
s = "sudh"
ch = len(s)-1 #Why-1 becuase the INDEX is out of range i.e =4 so if we do 4-1 then 3 which is in the index range
while ch >= 0 :
    print(s[ch],"{}".format("RUksie"))
    ch = ch -1

h RUksie
d RUksie
u RUksie
s RUksie

In [184]:
#Now using while loop inverse the string and no using[::-1] and no for loop
s="this is ruksie"

In [185]:
ch=len(s)-1
while ch>=0:
    print(s[ch])
    ch=ch-1

e
i
s
k
u
r

s
i

s
i
h
t

In [155]:
s = "sudh"
ch = len(s)

In [156]:
ch

4

In [107]:
#Check whether there is a vowel or not
name="Rukaiya Merchant"
vowels="AaEeIiOoUu"
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

R is not a vowel
u is a vowel
k is not a vowel
a is a vowel
i is a vowel
y is not a vowel
a is a vowel
  is not a vowel
M is not a vowel
e is a vowel
r is not a vowel
c is not a vowel
h is not a vowel
a is a vowel
n is not a vowel
t is not a vowel

In [6]:
#Check whether the string  is palindrome or not
l=input("Enter a data that is palindromic: ")
o=l[::-1]
if l==o:
    print("Data is palindrome")
else:
    print("Data is not palindrome")

Enter a data that is palindromic: llp
Data is not palindrome