In [2]:
l=["sofie",123,"abc",8659,99.89,["hey",9090]]

In [1]:
l=["pop","lol0",53,52,"9p",["roar","red",90]]

In [6]:
l

['pop', 'lol0', 53, 52, '9p', ['roar', 'red', 90]]

In [56]:
for i in l:
    if type(i)==list:
        #print(i)
        for j in i:
            if type(j)==int:
                print(j)

90

In [67]:
for i in l:
    if type(i)==list:
        print("The element is a list",i)
    else:
        print("The element is not a list",i)

The element is not a list pop
The element is not a list lol0
The element is not a list 53
The element is not a list 52
The element is not a list 9p
The element is a list ['roar', 'red', 90]

## We can append a list to a list

In [2]:
l=["pop","dop",23,90]
l1=["po","lo","ik","k"]

In [3]:
l+l1

['pop', 'dop', 23, 90, 'po', 'lo', 'ik', 'k']

In [4]:
l1*2

['po', 'lo', 'ik', 'k', 'po', 'lo', 'ik', 'k']

In [5]:
"pop" in l

True

In [6]:
5 in l

False

In [7]:
2 in l

False

In [8]:
l == ["pop","dop",23,90]

True

In [9]:
len(l)

4

In [10]:
p=[1,2,3,4]
p1=[3,4,5,6]

In [11]:
p+p1

[1, 2, 3, 4, 3, 4, 5, 6]

In [12]:
for i in l:
    if type(i)== str:
        print(i)

pop
dop

In [13]:
type(l)

list

In [14]:
l[0]

'pop'

In [15]:
l[::]

['pop', 'dop', 23, 90]

In [16]:
l[::-1]

[90, 23, 'dop', 'pop']

In [19]:
l[::-2]

[90, 'dop']

In [18]:
l=["pop","dop",23,90]

In [20]:
l[1:-2]

['dop']

In [21]:
l*2

['pop', 'dop', 23, 90, 'pop', 'dop', 23, 90]

In [22]:
l1=["abc",123,"ruksie"]

In [23]:
l1+l

['abc', 123, 'ruksie', 'pop', 'dop', 23, 90]

In [43]:
l1*2

['po', 'lo', 'ik', 'k', 'po', 'lo', 'ik', 'k']

In [44]:
l1*l1

TypeError: can't multiply sequence by non-int of type 'list'

In [25]:
l1-l

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [26]:
len(l)

4

# LIST OPERATIONS

## max( ) & min( )

In [48]:
print(max([2,5,8,9]))

9

In [49]:
max([8,5,99])

99

In [50]:
min([10,2.3,25])

2.3

In [51]:
max(["pop",52])

TypeError: '>' not supported between instances of 'int' and 'str'

In [52]:
min(["pop78",56])

TypeError: '<' not supported between instances of 'int' and 'str'

for strings maximum is z and minimum is a so alphabetically.

In [37]:
max(["pop","lol","article"])

'pop'

In [38]:
min(["pop","lol","article"])

'article'

### BASED ON ASCII VALUE that is A has 64 and small a has 62 so based on that  WILL THE TABLE DECIDE ON MAX AND MIN VALUES FOR CAPITAL AND SMALL ALPHABETS

## Append function

In [49]:
l=["pop","kol","loin","doing"]

In [50]:
l

['pop', 'kol', 'loin', 'doing']

In [51]:
l.append("ruksieAbbas")

In [52]:
l.append(2)

### Also append function always appends the elements at the end of the table and can append an object i.e an int and str both

In [53]:
l

['pop', 'kol', 'loin', 'doing', 'ruksieAbbas', 2]

In [54]:
l.append([89,56,25])

In [55]:
l

['pop', 'kol', 'loin', 'doing', 'ruksieAbbas', 2, [89, 56, 25]]

In [56]:
len(l)

7

In [60]:
for i in range(len(l)):
    print(l[i])

pop
kol
loin
doing
ruksieAbbas
2
[89, 56, 25]

In [30]:
l+"ruksie"  #Here since there is a datatype difference thats the reason it cannot append list to a string

TypeError: can only concatenate list (not "str") to list

## INSERT function

In [31]:
l

['pop', 'kol', 'loin', 'doing', 'ruksieAbbas', 2, [89, 56, 25]]

In [32]:
l

['pop', 'kol', 'loin', 'doing', 'ruksieAbbas', 2, [89, 56, 25]]

In [33]:
len(l)

7

### In insert function method there is an index value to be specified to insert the element at that particular position

### Also VERY IMPORTANT it inserts the element before the index value

In [34]:
l

['pop', 'kol', 'loin', 'doing', 'ruksieAbbas', 2, [89, 56, 25]]

In [35]:
l.insert(3,89)

In [36]:
l

['pop', 'kol', 'loin', 89, 'doing', 'ruksieAbbas', 2, [89, 56, 25]]

### Here in negative insertion we need to see that the value gets replaced for that position and the other values move forward

In [37]:
l.insert(-2,-2)

In [38]:
l

['pop', 'kol', 'loin', 89, 'doing', 'ruksieAbbas', -2, 2, [89, 56, 25]]

## Extend() function

In [39]:
l=[1,2,3,4,5]

In [40]:
l.append("ruksie")

In [41]:
l

[1, 2, 3, 4, 5, 'ruksie']

In [42]:
l.append(["list",54])

In [43]:
l

[1, 2, 3, 4, 5, 'ruksie', ['list', 54]]

In [44]:
l.extend("test1")

In [45]:
l

[1, 2, 3, 4, 5, 'ruksie', ['list', 54], 't', 'e', 's', 't', '1']

In [46]:
d=[1,2,3,4]
d.extend(["ruksie","lol"])
d.extend("ryuk")

In [47]:
d

[1, 2, 3, 4, 'ruksie', 'lol', 'r', 'y', 'u', 'k']

In [109]:
r="ruksie"
list(r)

['r', 'u', 'k', 's', 'i', 'e']

### So in extend function it cannot iterrate an integer value

In [110]:
l.extend(5)

TypeError: 'int' object is not iterable

In [128]:
e=[1,2,5,6,9]

### So in extend function it add and merges the list together to make one whole list whereas in append it adds as it is without merging it

In [129]:
e

[1, 2, 5, 6, 9]

### It can add list inside a list as well

In [130]:
e.extend([5,6,8,8911111111,["abc","lolpik","ji"]])

In [131]:
print(e,end=" ")

[1, 2, 5, 6, 9, 5, 6, 8, 8911111111, ['abc', 'lolpik', 'ji']]

In [71]:
w=[8, 9, 9, 6, 1]

In [72]:
w

[8, 9, 9, 6, 1]

In [76]:
w.append([87,88,89])

In [77]:
w

[8, 9, 9, 6, 1, [87, 88, 89]]

## Count function

In [393]:
w.count(9)

2

## Index function

In [394]:
w.index(9)

1

## Pop function method

### Pop always removes data based on indexes

In [396]:
w=[8, 9, 9, 6, 1]

Pop without an index will pop the last index

In [397]:
w.pop()

1

In [398]:
w

[8, 9, 9, 6]

In [399]:
w.pop(0)

8

In [231]:
w

[9, 9, 6]

In [232]:
d=["ruksie",58,69,23,58]

In [233]:
d.pop(4)

58

In [234]:
d

['ruksie', 58, 69, 23]

In [235]:
d.pop(1)

58

In [236]:
d

['ruksie', 69, 23]

In [237]:
d.pop(0)

'ruksie'

In [238]:
d

[69, 23]

## Remove function method

### It removes elements directly based on data feeded

In [61]:
l=["pop",90]

In [280]:
l.remove("pop")

In [281]:
l

[90]

In [282]:
l.remove(90)

In [283]:
l

[]

## Reverse function method

In [151]:
w.reverse()

In [152]:
w #Here it permanently reverses the elements in the list

[6, 9]

In [63]:
s=[1,2,3,4]

In [64]:
s.reverse()

In [65]:
s

[4, 3, 2, 1]

In [68]:
list(reversed(s))

[1, 2, 3, 4]

## Sort function

### Sort function sorts in ascending order

In [155]:
q=[7,5,96,41,25]

In [156]:
q.sort()

In [157]:
q

[5, 7, 25, 41, 96]

### Remember that sorting takes place between same datatype functions

In [159]:
t=["pop",85,97,"lol"]

In [160]:
t.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

## Question:

Part one:
append in betwwen two nested lists and one should hold a complex number.
Part two:
In the nested lists find string values and print their indexes and then remove the strings from that list respectively
Part three:
Remove every other element in the list at 2nd index

In [74]:
# Wrong

#Part1
l=[[1,2,3,"gig"],[1,2,"ruksie"],["kia",98,56]]
print(l)
l.insert(2,3+4j)
print(l)
l.insert(1,[65,55,48])
print(l)

#Part 2
for i in l:
    if type(i)==list:
        for j in i:
            j=0
            if type(i[j]) is str:
                print("This is the index of the string {} : ".format(i[j]),j)
                j=j+1
                break
                
                
#Part 3               
for i in l:
    if type(i)==list:
        print("This is removal of 2nd index values of nested lists:",i.pop(2))

[[1, 2, 3, 'gig'], [1, 2, 'ruksie'], ['kia', 98, 56]]
[[1, 2, 3, 'gig'], [1, 2, 'ruksie'], (3+4j), ['kia', 98, 56]]
[[1, 2, 3, 'gig'], [65, 55, 48], [1, 2, 'ruksie'], (3+4j), ['kia', 98, 56]]
This is the index of the string kia :  0
This is removal of 2nd index values of nested lists: 3
This is removal of 2nd index values of nested lists: 48
This is removal of 2nd index values of nested lists: ruksie
This is removal of 2nd index values of nested lists: 56

l=[[1, 2, 3, 'gig'], [65, 55, 48], [1, 2, 'ruksie'], (3+4j), ['kia', 98, 56]]
Part two:
In the nested lists find string values and print their indexes and then remove the strings from that list respectively
Part three:
Remove every other element in the list at 2nd index

In [122]:
l=[[1, 2, 3, 'gig','ooo','plo','pop'], [65, 55, 48], [1, 2, 'ruksie',"ooopppppoooo"], (3+4j), ['kia', 98, 56]]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)
                i.remove(j)

gig
plo
ruksie
kia

In [117]:
l

[[1, 2, 3, 'ooo', 'pop'], [65, 55, 48], [1, 2], (3+4j), [98, 56]]

In [105]:
l

[[1, 2, 3], [11, 12, 'b', 'b'], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

# Question Sir has given data for the list

In [59]:
l1=[[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]

## CARRIAGE RETURN \r 
Here \r is it bring the entire statement before it to the front cursor. And most importantly doesnot print the line before it.
eg:print("List after removal of string from nested list is\r",l1,"\n")
output/ [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5] 
Since l1 is the output after it to be printed

In [67]:
l1=[[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]
for i in l1:
    if type(i)==list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The index of {} in nested list is:".format(i[j]),j)
            j=j+1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The nested list string is {} ".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print("List after removal of string from nested list is\r",l1,"\n")

#Here continue is used because [if there are three b's in the list and if we remove one b then the second b takes place
#of the first b at index 2 so when j=j+1 without writing continue gets executed then we skip the second b at newly placed 
#index two and j=j+1 i.e new index value where j=3 will be removed so one b string that moved from index two to index 
#three got left out in the list]

The index of b in nested list is: 2
The index of b in nested list is: 3
The index of b in nested list is: 4
The nested list string is b
The nested list string is b
The nested list string is b
The index of t in nested list is: 1
The nested list string is t
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

l1=[[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]
for i in l1:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                j.count(str)
                
else:
    for i in l1:
        if type(i)==str:
            print()

## Question: how to take list as an input from the user

In [473]:
input() #This input will take it as a string not list so this is not the write answer

[1,2,3,4]

'[1,2,3,4]'

In [474]:
list(input()) #Again this is not what we want

[55,"Ruksie"]

['[', '5', '5', ',', '"', 'R', 'u', 'k', 's', 'i', 'e', '"', ']']

In [477]:
l1(input())#This is not the right option

[85,86,89,78]

TypeError: 'list' object is not callable

In [446]:
l=[]
for i in range(5):
    l.append(int(input()))
    print(l)

8
[8]
5
[8, 5]
45
[8, 5, 45]
496
[8, 5, 45, 496]
457
[8, 5, 45, 496, 457]

In [447]:
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

5
6
5
5
5
[5, 6, 5, 5, 5]

## Question how will u take a nested list

In [470]:
l=[]
l2=[]
l3=[]
for i in range(3):
    l.append(int(input("Enter value for index {} of the main list = ".format(i))))
for j in range(5):
    l2.append(int(input("Enter value for index {} of the second nested list = ".format(j))))
for k in range(3):
    l3.append(int(input("Enter value for index {} of the third nested list = ".format(k))))
print(l)
print(l2)
print(l3)
l.append(l2)
l.extend(l3)

Enter value for index 0 of the main list = 51
Enter value for index 1 of the main list = 52
Enter value for index 2 of the main list = 53
Enter value for index 0 of the second nested list = 61
Enter value for index 1 of the second nested list = 62
Enter value for index 2 of the second nested list = 63
Enter value for index 3 of the second nested list = 64
Enter value for index 4 of the second nested list = 65
Enter value for index 0 of the third nested list = 71
Enter value for index 1 of the third nested list = 72
Enter value for index 2 of the third nested list = 73
[51, 52, 53]
[61, 62, 63, 64, 65]
[71, 72, 73]

In [472]:
print(l)

[51, 52, 53, [61, 62, 63, 64, 65], 71, 72, 73]

Or the other way round is:

In [21]:
we=[]
for i in range(2):
    we.append([])
    for j in range(3):
        we[i].append(int(input("Please enter 3 values for first list 3 values for second list ")))
we

Please enter 3 values for first list 3 values for second list 1
Please enter 3 values for first list 3 values for second list 2
Please enter 3 values for first list 3 values for second list 3
Please enter 3 values for first list 3 values for second list 4
Please enter 3 values for first list 3 values for second list 5
Please enter 3 values for first list 3 values for second list 6

[[1, 2, 3], [4, 5, 6]]

In [72]:
we=[]
for i in range(4):
    we.append([])
    for j in range(2):
        we[i].append([int(input("Enter values: "))])
we

Enter values: 254
Enter values: 245
Enter values: 265
Enter values: 247
Enter values: 145
Enter values: 254
Enter values: 14
Enter values: 25

[[[254], [245]], [[265], [247]], [[145], [254]], [[14], [25]]]

In [1]:
l=[1,2,3,4]

In [2]:
l

[1, 2, 3, 4]

In [12]:
l2=[]

In [14]:
l2

['l', 'o', 'l']

### So here list comphrehention works as follows:

In [16]:
 [i for i in "ruksie"] #Here the first i means the print statement in list comprehension

['r', 'u', 'k', 's', 'i', 'e']

In [ ]:
If you want a list inside a list or rather nested list then:

In [17]:
[[i] for i in "ruksie"]

[['r'], ['u'], ['k'], ['s'], ['i'], ['e']]

In [24]:
o=[]
for i in range(10):
    if i%2==0:
        o.append(i)
print(o)

[0, 2, 4, 6, 8]

In [26]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [72]:
p=[]
p1=[]
for i in range(10):
    
    if i%2!=0:
        #print("odd number",i,end=",")
        p.append(i)
    else:
        #print("even number",i,end=", ")
        p1.append(i)
print(p)       
print(p1)       
print(p1+p)

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]

In [66]:
print(p)
p1

[1, 3, 5, 7, 9]

[0, 2, 4, 6, 8]

In [108]:
["odd" if i%2!=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [121]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [133]:
[[j for j  in range(3)]for i in range(3) ]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [134]:
[i for i in range(9)]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
res=[]
for i in range(3):
    res.append([])
    for j in range(2):
        res[i].append(j)

In [74]:
[[j for j in range(2)] for i in range(3)]

[[0, 1], [0, 1], [0, 1]]

In [2]:
l=[0,1,2,3,4,5,6,7,8,9]

In [3]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
asd=[]
for i in l:
    if i==1:
        asd.append("yes")
    elif i ==2:
        asd.append("no")
    else:
        asd.append("test")

In [5]:
asd

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [10]:
["yes" if i==1 else "no" if i==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [4]:
res

[[0, 1], [0, 1], [0, 1]]

# Doubt Create a nested list
[[1,2,3],[],[1,2,3]]

In [16]:
l=[]
for i in range(3):
    l.append([])
    for j in range(1,4):
        l[i].append(j)

In [14]:
l

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [75]:
even_odd = [[],[]]
even_odd = [even_odd[0].append(a) if a%2 == 0 else even_odd[1].append(a) for a in range(20)]

In [78]:
lis = [num for num in range(100)
       if num % 5 == 0 if num % 10 == 0]
print(lis)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [27]:
r=[]
for i in range(3):
    print(i)
    r.append(i)

0
1
2

In [29]:
r

[0, 1, 2]

In [32]:
len(r)

3

In [34]:
for i in range(0,10,3):
    i=i+10
    print(i)

10
13
16
19

In [ ]:
IMPOR

In [36]:
len(range(0,10,5))

2

# IMPORTANT

In [127]:
l=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62,[2,3,4,"assss"]]
c=[]
for i in l:
    if type(i)==str:
        c.append(i)
        
    if type(i)==list:
        
        for j in i:
            if type(j)==str:
                c.append(j)
print(c)

['ruks', 'rukaiya', 'abc jkl', 'asjk', 'assss']

In [2]:
n=[]
v=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62]
for i in v:
    if type(i)==str:
        n.append(i)
       
    else:
        if type(i)==list:
            for j in i:
                if type(j)==str:
                    n.append(j)
print(n)

['ruks', 'rukaiya', 'abc jkl', 'asjk']

## PRACTICE

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
#They need to find a character in elements in the list if a is there then print that element

In [6]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for i in fruits:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [3]:
newlist

['apple', 'banana', 'mango']

In [8]:
[i for i in fruits if "a" in i ]

['apple', 'banana', 'mango']

ONLY Accept items without apple

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new=[]
for i in fruits:
    if i!="apple":
        new.append(i)
print(new)

['banana', 'cherry', 'kiwi', 'mango']

Accept only numbers lower than 5

In [13]:
l=[]
for i in range(6):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5]

Set the values in the new list to upper case

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for i in fruits:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [8]:
newlist=['apple', 'banana', 'mango']
new=[]
for i in newlist:
    
    new.append(i.upper())

In [9]:
print(new)

['APPLE', 'BANANA', 'MANGO']

Set all values in the new list to 'hello'

In [12]:
new=['APPLE', 'BANANA', 'MANGO']
r=[]
for i in new:
    r.append("hello")
print(r)

['hello', 'hello', 'hello']

Return "orange" instead of "banana"

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
y=[]
for i in fruits:
    if i!="banana":
        y.append(i)
    else:
        y.append("orange")
print(y)

['apple', 'orange', 'cherry', 'kiwi', 'mango']