https://pypi.org/project/mysql-connector-python/

#Link from this site!

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rukaiya plumber\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\rukaiya plumber\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import mysql.connector as connection
try:
    #we got the below details from sql work bench connect to db< create db connection click and a dialogue box with info will appear
    mydb=connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
    #Check if the connection is established
    
    query ="SHOW DATABASES"
    cursor=mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(str(e))

[('carbonnanotube',), ('information_schema',), ('mysql',), ('performance_schema',), ('rukaiya',), ('sakila',), ('sys',), ('world',)]

In [27]:
import mysql.connector as connection

In [28]:
connection.connect(host="localhost",user="root",passwd="password",use_pure=True)
#it returns an object! Connection established of python with mysql workbench

In [29]:
connection.connect(host="localhost",user="root",passwd="rkijyh",use_pure=True)
#What if i put different password

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [30]:
connection.connect(host="localhostefrg",user="root",passwd="password",use_pure=True)
#Wrong host

InterfaceError: 2003: Can't connect to MySQL server on '%-.100s:%u' (%s) (Warning: %u format: a number is required, not str)

databses never hold the actual data the tables holds the actual data we can write a query on top of the table!
sql+ on the left side open in workbench and type< show databases
But we dont want to use mysql since we are python programmers so....
So now we will make a connection object

In [ ]:
conn = connection.connect(host="localhost" , user="root" , passwd="password")

Through this connection only we will be able todo anything with the connection we wont be able to establish communication

So now,
We will have to set a cursor. Cursor is nothing but a pointer.
So whenever we try to browse something in a db so inside a db it available index wise so we need to reachout to that index hence using pointer or cursor

In [ ]:
conn.cursor()  #press tab after placing connection object i.e conn.+tab there youll find cursor
#So this is the pointer it will be pointer to inital position to very first index

In [ ]:
#So now inside workbench everything is available so we need to point it out!
cur=conn.cursor() #So here we are able to point out the first cursor

so now will take the pointeri.e cur obj to execute the sql command i.e show databases

In [ ]:
cur.execute("show databases") 
#Pointer is executing what<< sql query "show databases" on connection.connect(host="localhost" , user="root" , passwd="password") i.e is our sql workbench

Now here if try to check the type of return of cur.execute("show databases") it gives none type

## Note:
If you run cur.execute("show databeses") and then check its type in the next line it will give an error you can either execute 
this <<<cur.execute("show databases") 
or
this <<<type(cur.execute("show databases"))
You cannot run both!!

In [31]:
import mysql.connector as connection

#connection.connect(host="localhost",user="root",passwd="password",use_pure=True)

In [32]:
conn = connection.connect(host="localhost" , user="root" , passwd="password",use_pure=True)

In [33]:
cur=conn.cursor() #Here we have initialsed the cursor to initial position

In [38]:
cur.execute("show databases") #Here after exceution the cursor is at the last position

Similar to iter method here the cursor was at initail pointer but then we executed it so now its at the last position

So now ill fetch the data using the cursor

In [35]:
cur.fetchall() #From the beginning till the end it will fetch all the data

[('carbonnanotube',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('rukaiya',),
 ('sakila',),
 ('sys',),
 ('world',)]

I can store this in a variable name called response as well! res

### Note you cannot execute cur.fetchall() and res=cur.fetchall() together either one of them else wont get output

In [39]:
res =cur.fetchall()

In [40]:
res

[('carbonnanotube',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('rukaiya',),
 ('sakila',),
 ('sys',),
 ('world',)]

if we need to fetch any values from the above list then how shall we do it??

The below list has a list of tuples inside

In [41]:
res[3]

('performance_schema',)

In [42]:
res[3][0]

'performance_schema'

In [43]:
res[3][1]

IndexError: tuple index out of range

In [44]:
for i in res:
    print(i[0])

carbonnanotube
information_schema
mysql
performance_schema
rukaiya
sakila
sys
world

In [45]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", username="root",passwd="password",use_pure=True)
    query = "SHOW DATABASES"
    cur=mydb.cursor()
    cur.execute(query)
    response= cur.fetchall()
    print(response)
    
    
except Exception as e:
    print(str(e))
finally:
    mydb.close()

[('carbonnanotube',), ('information_schema',), ('mysql',), ('performance_schema',), ('rukaiya',), ('sakila',), ('sys',), ('world',)]

# So first step 
Connection is established

### Now next example!

In [ ]:
import mysql.connector as connection

In [ ]:
conn = connection.connect(host="localhost",user="root", passwd="password")

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute("create database rukaiya") #Show not run program twice else pops an error becuase in one run it shows the result

In [ ]:
res = cur.fetchall()

In [ ]:
res

### Together it would look like this!

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", username="root",passwd="password",use_pure=True)
    query = "CREATE DATABASE RUKAIYA"
    cur=mydb.cursor()
    cur.execute(query)
    #response= cur.fetchall()
    #print(response)
    
    
except Exception as e:
    print(str(e))
finally:
    mydb.close()

In [ ]:
import mysql.connector as connection

try:
    conn = connection.connect(host="localhost",database="rukaiya",user="root",password="password",use_pure=True)
    print(conn.is_connected())
    cur = conn.cursor() #create a cursor to execute queries
    cur.execute("CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(25), LastName VARCHAR(60), RegistrationDate DATE, Class VARCHAR(20), Section VARCHAR(20))")
    print("Table Created !")
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    conn = connection.connect(host="localhost",database="rukaiya",user="root",password="password",use_pure=True)
    print(conn.is_connected())
    cur = conn.cursor() #create a cursor to execute queries
    cur.execute("CREATE TABLE test(x1 INT(5),x2 VARCHAR(20) ,x3 DATE)")
    print("Table Created !")
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

In [ ]:
import mysql.connector as connection

try:
    conn = connection.connect(host="localhost",database="rukaiya",user="root",password="password",use_pure=True)
    print(conn.is_connected())
    cur = conn.cursor() #create a cursor to execute queries
    cur.execute("SELECT * FROM test")
    print("DONE")
    
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

In [ ]:
conn = connection.connect(host="localhost",database="rukaiya",user="root",password="password",use_pure=True)

In [ ]:
cur=conn.cursor()

In [ ]:
cur.execute("INSERT INTO StudentDetails VALUES (101,'Rukaiya','Merchant','1960-10-20','Eleventh','A')")

## To view the data you need to commit the insertion then only it will add data to the table!

In [ ]:
conn.commit()

In [ ]:
cur.execute("INSERT INTO StudentDetails VALUES (102,'Rashi','Thakur','1960-11-06','Eleventh','A')")

In [ ]:
cur.execute("INSERT INTO StudentDetails VALUES (103,'Rohini','Sehgal','1966-12-18','Eleventh','A')")

In [ ]:
conn.commit()

## How to fetch the data

In [ ]:
cur =conn.cursor()#Placing the cursor to initial position!
cur.execute("select * from StudentDetails")

In [ ]:
#cur.fetchall()

In [ ]:
for i in cur.fetchall():
    print(i)

In [ ]:
cur =conn.cursor()

In [ ]:
cur.execute("Select Studentid , Section from StudentDetails")

In [ ]:
#cur.fetchall()

In [ ]:
for i in cur.fetchall():
    print(i)

In [ ]:
for i in cur.fetchall():  #We need to keep running the first two lines for us to get the required output!
    print(i[0])

In the workbench use databasename.tablename in select query 
or
use database 
eg:
    select * from StudentDetails.test;
    
    or
simply use
use StudentDetails

# Using pandas

In [ ]:
import pandas as pd

In [ ]:
conn

In [ ]:
pd.read_sql("select * from StudentDetails",conn)

In [ ]:
a= pd.read_sql("select * from StudentDetails",conn) #Simply storing in a variable!

In [ ]:
a

### Here we can store the data that variable a holds in csv format!

In [ ]:
a.to_csv("mydata.csv") #Here we converted the data into csv format

### You can chcek whetehr the file is create din the local system or not  i,e in the Lecture Notes folder !

Now i would like to write the data that is going to be extracted from this csv file in a new table!

In [ ]:
conn = connection.connect(host="localhost", database ="rukaiya", user="root" ,password ="password", use_pure=True)
conn #This is my connection object and it is working perfectly fine

So now i would like to dump the data into some table

So firstly we need to create a table then only can we dump the data in it

In [ ]:
cur = conn.cursor()
cur.execute("create table mydata(n1 int(20),n2 varchar(20),n3 varchar(20),n4 date ,n5 varchar(20), n6 varchar(20))")

So once i do the below in workbench can see the created columns 
use rukaiya
then delete it 
and then again
select * from rukaiya.mydata >>>>#Since this is newly created

### Now i have to read this data as .csv file is stored on local system!

In [ ]:
data= pd.read_csv("mydata.csv") #PD stands for pandas refer the above <<<<<<import pandas as pd

In [ ]:
data #Sir will talk about this issue UNNAMED in the Pandas library

## Now our requirement is to write this data in columns n1 n2 n3 n4 n5 n6 right?!

In [ ]:
data.to_sql() #You can always press shift +tab to know the parameters it takes!

#So this takes two parameter when you press shift and tab 
#One is Table name i.e mydata and second is connection name i.e conn

In [ ]:
data.to_sql("mydata",conn)

### WE ARE READING A FILE GLASS.DATA FROM THE FOLDER LECTURE AND WE ARE CREATING A TABLE AND PULLING THE DATA FROM THIS FILE!

In [ ]:
import mysql.connector as connection
import pandas as pd
import csv
#establsihing connection
#STEP 1
conn =connection.connect(host="localhost",user='root',passwd="password",use_pure=True)
#STEP 2
#Would store data in new database or new table or existing database and new table either of them
#We will store in existing database and new table!
#creating a new table in rukaiya database

In [ ]:
#creating a cursor 
cur = conn.cursor()

#we need to execute the query
#Give schemas that is column name
#So for the column names you need to go to the files and create one!
cur.execute("create table rukaiya.glass(index int(20),RI float(10,5),Na float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class float(10,5))")

#We have an error because we are using reserved words like index and class so remember to modify them a bit

In [ ]:
cur.execute("create table rukaiya.glass(index_num int(20),RI float(10,5),Na float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class_details float(10,5))")
#Now its not getting an error!

In [ ]:
!ls #this might work in linus

### shows all the files in this current dir

In [ ]:
!dir

### Now my glass.data file is available in this directory only so lets open it

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in data_csv:  #Here we can read the entire data 
        print(i)

## enumerator: this function return indexes as well as data for every row of the data

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in enumerate(data_csv):  #Here we can read the entire data 
        print(i)

# Error occurred solution below!

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in enumerate(data_csv):  #Here we can read the entire data 
        for j in i[1]:#We need to insert the data in sql the entire data all at once
            cur.execute('insert into rukaiya.glass values ({data})'.format(data=(j)))
    print("All data is inserted")
conn.commit() #Only if you commit shall it add the data else data insertion will not take place

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    next(data) #The next function is imp because we cannot insert 'index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class)' at line 1 since index has int!
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in enumerate(data_csv):  #Here we can read the entire data 
        print(i)
        for j in i[1]:#We need to insert the data in sql the entire data all at once
            cur.execute('insert into rukaiya.glass values ({data})'.format(data=(j)))
    print("All data is inserted")
conn.commit() #Only if you commit shall it add the data else data insertion will not take place

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    next(data) #The next function is imp because we cannot insert 'index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class)' at line 1 since index has int!
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in enumerate(data_csv):  #Here we can read the entire data 
        print(i)
        for j in i[1]:#We need to insert the data in sql the entire data all at once
            cur.execute('insert into rukaiya.glass values ({data})'.format(data=(j)))
    print("All data is inserted")
conn.commit() #Only if you commit shall it add the data else data insertion will not take place

## Created a new table named gang!!

In [ ]:
cur.execute("create table rukaiya.gang(index_num int(20),RI float(10,5),Na float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class_details float(10,5))")

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    next(data) #The next function is imp because we cannot insert 'index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class)' at line 1 since index has int!
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in data_csv:  #Here we can read the entire data 
        print(i[0]) #try printing i n see the difference
        print(type(str(i)))
        cur.execute('insert into rukaiya.gang values ({data})'.format(data=str(i[0])))
    print("All data is inserted")
conn.commit() #Only if you commit shall it add the data else data insertion will not take place

In [ ]:
with open('glass.data','r') as data: #Opening the glass.data file as data
    next(data) #The next function is imp because we cannot insert 'index,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class)' at line 1 since index has int!
    data_csv = csv.reader(data,delimiter="\n") #Converting the file format to csv as we imported csv 
    #and csv.reader will read the file glass.data as data and
    #when delimiter will encounter a new line it will place the data on new line
    print(data_csv)
    for i in data_csv:  #Here we can read the entire data 
        print(i[0]) #try printing i n see the difference
        print(type(str(i)))
        cur.execute('insert into rukaiya.gang values ({data})'.format(data=str(i[0])))
    print("All data is inserted")
conn.commit() #Only if you commit shall it add the data else data insertion will not take place

## Sirs question! My approach

In [46]:
import mysql.connector as connection
import pandas as pd
import csv

In [49]:
conn = connection.connect(host='localhost',user='root',passwd='password',use_pure=True)
cur =conn.cursor()

In [59]:
cur.execute("create table rukaiya.carbon_nanotubes1(Chiral_indice_n varchar(20),Chiral_indice_m varchar(20),Initial_atomic_coordinate_u varchar(40),Initial_atomic_coordinate_v varchar(20),Initial_atomic_coordinate_w varchar(20),Calculated_atomic_coordinates_u varchar(20),Calculated_atomic_coordinates_v varchar(20),Calculated_atomic_coordinates_w varchar(20))")
#Also there is another way to create this data

In [60]:
lists=[]
with open('carbon_nanotubes.csv','r') as data:
    #next(data)
    csv_data= csv.reader(data,delimiter="\n")
    for i in csv_data:
        #print(i[0])
        lists.append(i[0].split(";"))

In [61]:
with open('carbon_nanotubes1.csv','w',newline='') as data:
    csv_data=csv.writer(data)
    csv_data.writerows(lists)
    print(csv_data)

<_csv.writer object at 0x000001E742E45860>

In [63]:
with open('carbon_nanotubes1.csv','r') as data:
    #next(data)
    datacsv= csv.reader(data,delimiter="\n")
    next(datacsv)
    print(datacsv)
    for i in datacsv:
        #print(i[0])
        #for value in i:
            #print(value)
        cur.execute("insert into rukaiya.carbon_nanotubes1 values({});".format(",".join([value for value in i])))
conn.commit()
print("All data is inserted")

<_csv.reader object at 0x000001E7427770A0>
All data is inserted

# Sir gave Question right way of solving!

In [3]:
import csv
import pandas as pd

## Reading the raw carbon nanotube data

In [6]:
file_list=[]
with open("carbon_nanotubes.csv",'r') as file:
    
    data =csv.reader(file,delimiter="\n")
    header=next(data)
    print(header)
    for i in data:
        file_list.append(i[0].split(';'))

["Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'"]

## Writing the updated data into the new csv file

In [7]:
with open("carbon2.csv","w",newline='') as data:
    writer =csv.writer(data)
    writer.writerows(file_list)

## Creating a database in Mysql

In [8]:
import mysql.connector as connection 
try:
    mydb = connection.connect(host="localhost",user="root",password="password",use_pure=True)
    
    query = "create database CarbonNanoTube;"
    cursor=mydb.cursor()
    cursor.execute(query)
    print("Database is created!")
except Exception as e:
    mydb.close()
    print(str(e))

1007 (HY000): Can't create database 'carbonnanotube'; database exists

## Creating a Table

In [9]:
query = "Create table CarbonNanoTube.Nano(Chiral_indice_n int(20),Chiral_indice_m int(20),Initial_atomic_coordinate_u int(40),Initial_atomic_coordinate_v int(20),Initial_atomic_coordinate_w int(20),Calculated_atomic_coordinates_u int(20),Calculated_atomic_coordinates_v int(20),Calculated_atomic_coordinates_w int(20));"
print(query)

Create table CarbonNanoTube.Nano(Chiral_indice_n int(20),Chiral_indice_m int(20),Initial_atomic_coordinate_u int(40),Initial_atomic_coordinate_v int(20),Initial_atomic_coordinate_w int(20),Calculated_atomic_coordinates_u int(20),Calculated_atomic_coordinates_v int(20),Calculated_atomic_coordinates_w int(20));

In [10]:
cursor= mydb.cursor()
cursor.execute(query)
print("Table created!")

OperationalError: MySQL Connection not available

## Inserting data into the table

In [4]:
with open("carbon2.csv","r") as data:
    next(data)
    data_csv= csv.reader(data, delimiter="\n")
    next(data_csv)
    print(data_csv)
    for j in data_csv:
        query = "insert into CarbonNanoTube.Nano values({});".format([value for value in j])
        cursor.execute(query)
        
mydb.commit()
print("Values Inserted!")

<_csv.reader object at 0x0000018C2E89E820>

NameError: name 'cursor' is not defined

# Delete one row from the table

In [ ]:
mydb = connection.connect(host="localhost",user="root",password="password",use_pure=True)
print(mydb.is_connected())
query = "delete from rukaiya.carbon_nanotubes1 where Chiral_indice_n=2"
cursor=mydb.cursor()
cursor.execute(query)
mydb.commit()

# Updating a row!

In [ ]:
query ="update rukaiya.carbon_nanotubes1 set Chiral_indice_n=2 where Chiral_indice_n=3 "
cursor=mydb.cursor()
cursor.execute(query)
mydb.commit()

# So once you commit you can never rollback!