# Tuple
immutable

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t=(1,2,3,4,5,6)

In [ ]:
Perform string slicing and show?

## String slicing takes place in tuples!

In [4]:
t[1]

2

In [5]:
t[3]

4

In [15]:
t[1]=0

TypeError: 'tuple' object does not support item assignment

## String assignment does not take place in tuples

In [16]:
t[4]="plo"

TypeError: 'tuple' object does not support item assignment

In [8]:
t=(1,"o",2,"p",3,"i")

In [9]:
t[4]

3

In [10]:
t[3]

'p'

## We cannot append as well add or delete

In [11]:
t.add(3)

AttributeError: 'tuple' object has no attribute 'add'

In [12]:
t.append("pop")

AttributeError: 'tuple' object has no attribute 'append'

### They perform addition operations with heterogenous datatype as well

In [13]:
t1=("pop",1,2)

In [14]:
t1+t

('pop', 1, 2, 1, 'o', 2, 'p', 3, 'i')

In [17]:
t

(1, 'o', 2, 'p', 3, 'i')

In [18]:
t1

('pop', 1, 2)

In [19]:
t*t1

TypeError: can't multiply sequence by non-int of type 'tuple'

In [20]:
a=(1,2,3)

In [21]:
b=(2,4,6)

In [22]:
a*b

TypeError: can't multiply sequence by non-int of type 'tuple'

In [23]:
t*t

TypeError: can't multiply sequence by non-int of type 'tuple'

In [24]:
a*a

TypeError: can't multiply sequence by non-int of type 'tuple'

In [25]:
t*2

(1, 'o', 2, 'p', 3, 'i', 1, 'o', 2, 'p', 3, 'i')

In [26]:
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
t-t

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [28]:
t/t

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [29]:
t-1

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [30]:

t/4

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

## ONLY TAKES PLACE IN HOMOGENOUS DATA.

In [31]:
t=(1,2,"lol")

In [33]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
g=(2,3,4,5,6)

In [35]:
max(g)

6

In [36]:
min(g)

2

### BOTH MIN AND MAX BASED ON ASCII VALUE AND HOMOGENOUS DATATYPE

In [1]:
t=("pop","kiki","jojo","kiki")

#### MAX

In [2]:
max(t)

'pop'

#### MIN

In [3]:
min(t)

'jojo'

#### In list or tuple the index value will be given the first preference, the occurence of the first value will be considered inspite of multiple values being placed in them.

#### INDEX

In [6]:
t.index("kiki")

1

In [7]:
t.index("kiki")

1

Here in the index function you need to find the value "kiki"

#### COUNT

In [42]:
t.count("jojo")

1

In [ ]:
How to insert values in a tuple

#### HOW TO INSERT VALUES IN A TUPLE?

In [43]:
p=(1,2,3,4)

In [44]:
l=list(p)

In [45]:
p

(1, 2, 3, 4)

In [46]:
l

[1, 2, 3, 4]

### Using typecasting we will convert the datatype!!

In [49]:
l.append(24)

In [50]:
l

[1, 2, 3, 4, 24]

In [51]:
l.insert(3,"ruru")

In [52]:
l

[1, 2, 3, 'ruru', 4, 24]

### Now changing the datatype back to tuple

In [53]:
p=tuple(l)

In [54]:
p

(1, 2, 3, 'ruru', 4, 24)

### What is the application of tuple

## Passwords

In [2]:
y=(("piuy","iu",56),("er",10,78,"l"),56,25,4,5,("lol","po"),[1,5,8,7,0])

In [3]:
for i in y:
    print(i)

('piuy', 'iu', 56)
('er', 10, 78, 'l')
56
25
4
5
('lol', 'po')
[1, 5, 8, 7, 0]

In [4]:
for i in y:
    if type(i)==tuple:
        print(i)

('piuy', 'iu', 56)
('er', 10, 78, 'l')
('lol', 'po')

In [5]:
c=0
for i in y:
    if type(i)==tuple:
        for j in i:
            if type(j)==int:
                c=c+j
                
print(c)

144

## WE CAN PARSE THROUGH Tuples, parsing operations

In [72]:
y

(('piuy', 'iu', 56),
 ('er', 10, 78, 'l'),
 56,
 25,
 4,
 5,
 ('lol', 'po'),
 [1, 5, 8, 7, 0])

In [73]:
y[6]

('lol', 'po')

In [74]:
y[6][1]

'po'

In [76]:
y[1]

('er', 10, 78, 'l')

In [78]:
y[1][3]

'l'

In [80]:
### Question So now if in the tuple y if any item is tuple give me the first index value of that tuple in the list.
for i in y:
    if type(i)==tuple:
        print(i[0])

piuy
er
lol

In [81]:
r=("abbas",123,"plumber","kia",1234)

In [91]:
n=input("enter your name: ")
if n in r:
    print("Found name")
else:
    print("Not found name")

enter your name: plumber
Found name

## How to delete a tuple permenantly

In [92]:
del(r)

In [ ]:
So here r got deleted!!

In [93]:
r

NameError: name 'r' is not defined

### SET
mutable

HOW TO CREATE A SET

In [96]:
x=set()

In [97]:
x

set()

#### WORK OF SET IS TO BUILD UNORDERED SET OF UNIQUE ELEMENTS PRESENT IN IT

In [99]:
t={1,2,2,3,4,8,"ruksie","lol"}

In [100]:
t

{1, 2, 3, 4, 8, 'lol', 'ruksie'}

So chcek a few items that were duplicate have been eliminated

### WE CAN INSERT DATA IN A SET

In [102]:
t.add(43)

In [103]:
t

{1, 2, 3, 4, 43, 8, 'lol', 'ruksie'}

In [105]:
for i in t:
    print(i)

1
2
3
4
lol
8
43
ruksie

In [107]:
43 in t

True

## WE CANNOT PARSE THROUGH SETS

In [108]:
t[0]

TypeError: 'set' object is not subscriptable

# So here we need to type cast the set datatype into a list

In [8]:
t={1,2,2,3,4,8,"ruksie","lol"}

In [9]:
l=list(t)

In [10]:
t

{1, 2, 3, 4, 8, 'lol', 'ruksie'}

In [11]:
l

[1, 2, 3, 4, 'lol', 'ruksie', 8]

In [12]:
l[2]

3

In [13]:
l.append(9)

In [14]:
l

[1, 2, 3, 4, 'lol', 'ruksie', 8, 9]

In [15]:
t=set(l)

In [16]:
t

{1, 2, 3, 4, 8, 9, 'lol', 'ruksie'}

In [17]:
t.add([1,2])

TypeError: unhashable type: 'list'

### Now can we type caste a nested list in to a set??

In [118]:
w=["pop",1,4,56,["abc",2,4,6]]

In [119]:
t=set(w)

TypeError: unhashable type: 'list'

In [120]:
e={"p","p","p",4,45856,454,45,8,2,0,"abc","XYZ"}

In [121]:
e.add("T")

In [122]:
e

{0, 2, 4, 45, 454, 45856, 8, 'T', 'XYZ', 'abc', 'p'}

In [123]:
e.remove(2)

In [124]:
e

{0, 4, 45, 454, 45856, 8, 'T', 'XYZ', 'abc', 'p'}

In [125]:
f={0,5,6}

In [126]:
f.clear()

In [127]:
f

set()

In [128]:
x=set(l)

In [129]:
l=[1,2,4,"ruku"]

In [133]:
x1=set()

In [134]:
x1

set()

In [135]:
x1.add(20)

In [136]:
x1.add("pop")

In [137]:
x1.add(78)

In [138]:
x1

{20, 78, 'pop'}

## CANNNOT perform arithmetic operations on a set

In [139]:
x+x1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [140]:
x*x1

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [141]:
x*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [142]:
x+1

TypeError: unsupported operand type(s) for +: 'set' and 'int'

## DICTIONARY
they are mutable

In [143]:
d={}

In [144]:
d

{}

## In a dictionary we have key value pair

In [146]:
d={"name":"Ruksie","name": "ruksie"}

In [147]:
d

{'name': 'ruksie'}

### Rememeber keys cannot be duplicate whereas values can be duplicate and hence it takes the lastest key value pair!

What all datatype can a key hold let check that out

### KEYS CANNOT TAKE A LIST!

In [148]:
d={"name":"Ruskie",True:"married",24:"Female",[1,2,3]:"Jamnagar"}

TypeError: unhashable type: 'list'

### KEYS CANNOT TAKE A SET!

In [152]:
d={"name":"Ruskie",True:"married",24:"Female",{1,2,3,4}:"lol"}

TypeError: unhashable type: 'set'

In [18]:
d={(1,2,"pop"):True}

## KEYS CAN TAKE A TUPLE

In [157]:
d={{"name":"Pop"}}

TypeError: unhashable type: 'dict'

### KEYS CANNOT TAKE DICTIONARY

In [ ]:
In the below examples we cannot use SPECIAL CHARACTERS AS KEY OR VALUE PAIRS

In [ ]:
But can take an under score used with a string

In [158]:
d={"_c":90}

In [ ]:
But not with an int

In [159]:
d{_9:"pop"}

SyntaxError: invalid syntax (Temp/ipykernel_35484/3443085027.py, line 1)

In [160]:
d={9: "_c"}

So takes it in value as well

### So note keys will always be unique but Values can be duplicate

In [161]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : "kik","key" : False , 3455: 446 , "_sfsdf" : "sudh"}

Now,

### Now lets check whether we can store LIST BOOLEAN INTEGER STRINGS SET TUPLE DICTIONARY in values for unique keys

In [162]:
s={"name":["Ruksie",1,"Abbas"],"age":{24,29},"gender":True,"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

In [163]:
s

{'name': ['Ruksie', 1, 'Abbas'],
 'age': {24, 29},
 'gender': True,
 'natinality': ('INDIAN', 'CANADIAN'),
 'birth': {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}}

### Can take all the dattypes as values

In [ ]:
So now parsing through the dictionaries

In [164]:
s[3]#This is not available in the dictionay n hence the error

KeyError: 3

In [165]:
s["name"]

['Ruksie', 1, 'Abbas']

In [167]:
s["age"]

{24, 29}

In [ ]:
Now performing operations on dictionaries

In [ ]:
ADDITION

In [181]:
x3={2:"ruksie","lolo":[78,94,56]}

In [182]:
x4={"k4":"klmp"}

In [183]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [184]:
x3*x4

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [185]:
x3*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [186]:
x3+3

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

### Assignment operation

In [187]:
x3

{2: 'ruksie', 'lolo': [78, 94, 56]}

In [188]:
x3[2]=98

In [189]:
x3

{2: 98, 'lolo': [78, 94, 56]}

In [190]:
x3["lolo"]-=41

TypeError: unsupported operand type(s) for -=: 'list' and 'int'

In [192]:
x3["lolo"][2]-=10

In [193]:
x3

{2: 98, 'lolo': [78, 94, 46]}

In [ ]:
See what happended on the above we subtracted the last value of the list by 10

## How to only get keys or only values

In [194]:
x3.keys()

dict_keys([2, 'lolo'])

In [196]:
x3.values()

dict_values([98, [78, 94, 46]])

In [197]:
for i in x3:
    print(i) # here i is the keys by default

2
lolo

In [200]:
for i in x3:
    print(x3[i])

98
[78, 94, 46]

In [199]:
x4

{'k4': 'klmp'}

### Using items() we can get the dictionary in the form of a tuple

In [202]:
s.items()

dict_items([('name', ['Ruksie', 1, 'Abbas']), ('age', {24, 29}), ('gender', True), ('natinality', ('INDIAN', 'CANADIAN')), ('birth', {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'})])

Now from the above get me all the keys and values individually

In [204]:
for i in s.items():
    print(i)#This gives the entire tuple

('name', ['Ruksie', 1, 'Abbas'])
('age', {24, 29})
('gender', True)
('natinality', ('INDIAN', 'CANADIAN'))
('birth', {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'})

In [206]:
for i in s.items():
    print(i[0])

name
age
gender
natinality
birth

In [208]:
for i in s.items():
    print(i[1])

['Ruksie', 1, 'Abbas']
{24, 29}
True
('INDIAN', 'CANADIAN')
{'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}

In [209]:
len(s)

5

### Parsing through dictionaries

In [211]:
e={56:{46,56,45}}

In [212]:
e[56]

{45, 46, 56}

In [213]:
e[56][2]

TypeError: 'set' object is not subscriptable

In [ ]:
So since we cannot entirely parse through the dictionary we will need to type caste it

In [214]:
l=list(e[56])

In [215]:
l

[56, 45, 46]

In [217]:
l[1]

45

In [258]:
s="A paragraph consists of one or more sentences. Though not required by the syntax of any language paragraphs are usually an expected part of formal writing used to organize longer prose  "

In [259]:
s

'A paragraph consists of one or more sentences. Though not required by the syntax of any language paragraphs are usually an expected part of formal writing used to organize longer prose  '

In [281]:
r=list(s.split( ))

In [282]:
print(r)

['A', 'paragraph', 'consists', 'of', 'one', 'or', 'more', 'sentences.', 'Though', 'not', 'required', 'by', 'the', 'syntax', 'of', 'any', 'language', 'paragraphs', 'are', 'usually', 'an', 'expected', 'part', 'of', 'formal', 'writing', 'used', 'to', 'organize', 'longer', 'prose']

In [283]:
set(r)

{'A',
 'Though',
 'an',
 'any',
 'are',
 'by',
 'consists',
 'expected',
 'formal',
 'language',
 'longer',
 'more',
 'not',
 'of',
 'one',
 'or',
 'organize',
 'paragraph',
 'paragraphs',
 'part',
 'prose',
 'required',
 'sentences.',
 'syntax',
 'the',
 'to',
 'used',
 'usually',
 'writing'}

In [289]:
d=set(r)

In [290]:
d

{'A',
 'Though',
 'an',
 'any',
 'are',
 'by',
 'consists',
 'expected',
 'formal',
 'language',
 'longer',
 'more',
 'not',
 'of',
 'one',
 'or',
 'organize',
 'paragraph',
 'paragraphs',
 'part',
 'prose',
 'required',
 'sentences.',
 'syntax',
 'the',
 'to',
 'used',
 'usually',
 'writing'}

In [296]:
dic={}
for i in d:
    dic[i]="ruksie"
print(dic)

{'required': 'ruksie', 'paragraph': 'ruksie', 'consists': 'ruksie', 'any': 'ruksie', 'prose': 'ruksie', 'more': 'ruksie', 'formal': 'ruksie', 'Though': 'ruksie', 'or': 'ruksie', 'usually': 'ruksie', 'syntax': 'ruksie', 'writing': 'ruksie', 'longer': 'ruksie', 'an': 'ruksie', 'are': 'ruksie', 'sentences.': 'ruksie', 'part': 'ruksie', 'A': 'ruksie', 'one': 'ruksie', 'by': 'ruksie', 'the': 'ruksie', 'paragraphs': 'ruksie', 'of': 'ruksie', 'not': 'ruksie', 'organize': 'ruksie', 'language': 'ruksie', 'used': 'ruksie', 'expected': 'ruksie', 'to': 'ruksie'}

In [297]:
l=tuple(dic.values())

In [299]:
y=tuple(dic.keys())

In [300]:
print(l,end=" ")

('ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie', 'ruksie')

In [301]:
print(y,end=" ")

('required', 'paragraph', 'consists', 'any', 'prose', 'more', 'formal', 'Though', 'or', 'usually', 'syntax', 'writing', 'longer', 'an', 'are', 'sentences.', 'part', 'A', 'one', 'by', 'the', 'paragraphs', 'of', 'not', 'organize', 'language', 'used', 'expected', 'to')

### Square of the dictionary key as value:

In [316]:
d={}
for i in range(10):
    d[i]=i*i
    #So here d[i] is the value so i*i gives Value=key*key since i is the denotion for key!

In [317]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## FUNCTIONS

### Function creates reusability and function is something that is more readable we can divide set of code into modules.

#### How to create a function?

In [319]:
def test(a,b):
    print(a+b)

#### How to call a function?

In [320]:
test(2,3)

5

In [322]:
type(test(2,3))

5

NoneType

### NONETYPE

### What is NONE TYPE?
DEFINITION: 
The None keyword is used to define a null value, or no value at all. None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

In [323]:
def test1(a,b):
    return (a+b)

In [324]:
test1(5,7)

12

In [326]:
type(test1(5,7))

int

Wherein here for the above example if return type is giving me int as a data type we can ADD a number to an integer right??!!
Hence we are able to perform the following here

### So, return keyword will always give the same datatype as the operations it has been assigned 
Suppose it has been assigned int operation then it will throw int datatype to us!!!

In [1]:
def test2(a,b,c):
    return a*b

In [2]:
test2(2,3,4)

6

But what if we only place two values inside the parameter place!

In [3]:
test2(2,5)

TypeError: test2() missing 1 required positional argument: 'c'

So basically once you define the function the number of arguments passed through them you all of them should be called while calling the functions

So, Now

In [9]:
def test3(a,b):
    return a*b,a+b,a-b

In [10]:
test3(4,6)

(24, 10, -2)

In [13]:
type(test3(4,6))

tuple

In [14]:
h,i,j=test3(2,6)

In [15]:
h

12

In [16]:
i

8

In [17]:
j

-4

In [18]:
h,_,j=test3(2,6)

In [19]:
h

12

In [20]:
_

8

In [21]:
j

-4

What happens when we dont place a placeholder?

In [23]:
b,v=test3(5,5)

ValueError: too many values to unpack (expected 2)

It basically gives an error

In [25]:
b,_,_=test3(6,5)

In [26]:
b

30

In [27]:
_

1

In [28]:
_

1

In [29]:
def test4(a,b,c):
    return a + b
    return b + c

### Now here if we take 2 return statements the first one will get returned

In [30]:
test4(2,3,6)

5

In [31]:
def test5():
    print("This is test5 function")

In [32]:
test5()

This is test5 function

In [33]:
test5()+"hieee"

This is test5 function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [34]:
test5()+9

This is test5 function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [35]:
def test6():
    return "Hey this id function 6"

In [36]:
test6()

'Hey this id function 6'

In [39]:
test6()+ " reallllllly"

'Hey this id function 6 reallllllly'

In [40]:
test6()+7

TypeError: can only concatenate str (not "int") to str

### Here string so we need to typecaste but whatever it is if its return then we can add seperately and when it is print we cannot

In [41]:
def test7(n):
    return n*n

In [44]:
test7([1,2,3])

TypeError: can't multiply sequence by non-int of type 'list'

In [45]:
test7(5)

25

In [46]:
test7("ruk")

TypeError: can't multiply sequence by non-int of type 'str'

In [47]:
test7((1,2,3))

TypeError: can't multiply sequence by non-int of type 'tuple'

In [48]:
test7({1,4,7})

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [49]:
def test8(n):
    return n*2

In [50]:
test8([1,2,3])

[1, 2, 3, 1, 2, 3]

In [51]:
test8(["r","u"])

['r', 'u', 'r', 'u']

In [55]:
test8((1,2,3,4))

(1, 2, 3, 4, 1, 2, 3, 4)

In [57]:
test8({1,8})#Since set has only unique values

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [58]:
test8({"name":23})#Here as well in dictionary keys are unique

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [59]:
test8("pop")

'poppop'

In [60]:
r=test8([1,2,3])

In [61]:
r[0]

1

In [71]:
r

[1, 2, 3, 1, 2, 3]

In [67]:
z=test8((4,7,9))

In [68]:
z[0]

4

In [69]:
z[3]

4

In [70]:
z

(4, 7, 9, 4, 7, 9)

In [72]:
type(z)

tuple

In [81]:
def boolx(a=True, b=False):
    return a+b

In [82]:
boolx()

1

In [84]:
boolx(True)

1

In [86]:
boolx(False)

0

In [87]:
boolx(True,0)#So here True is 1 which is 1+0

1

In [91]:
boolx(False,6)#So here False is 0 which is 0+6

6

The pre assigned values get overwritten so at runtime we can change the pre assigned values and place the desired values needed at that time

In [92]:
def travel(car=True,bike=False):
    travel=car or bike
    return car,bike,travel

In [93]:
travel(True)

(True, False, True)

In [96]:
travel(False)#This is by defalut the value assigned to the car

(False, False, False)

In [95]:
travel(bike=True)

(True, True, True)

## *args?

In [1]:
def r(*args):
    return args

In [3]:
r(1,"ruks",[1,2,3],{2,54},{'name':'pop'})

(1, 'ruks', [1, 2, 3], {2, 54}, {'name': 'pop'})

In [110]:
def l(*args):
    return list [(args)]

In [111]:
l([1,2,3,4],[2,3,4])

list[[1, 2, 3, 4], [2, 3, 4]]

In [112]:
def l(*args):
    return list(args)

In [113]:
l([2,3,4],[7,8,9,10],[3,4,5,6])

[[2, 3, 4], [7, 8, 9, 10], [3, 4, 5, 6]]

But we them in one list only not nested lists

In [137]:
def li(*args):
    lis=[]
    for i in args:
        lis=lis+i
    return lis

In [138]:
li([1,2,3],["ruks"])

[1, 2, 3, 'ruks']

In [160]:
def test99(*args):
    j=[]
    for i in args:
        j.append(i)
    return j

In [161]:
test99([1,2,3],["ruks"])

[[1, 2, 3], ['ruks']]

In [145]:
def test22(*args):
    count=0
    for i in args:
        count=count+i
    return count

In [146]:
test22(3,4,5,4,5,6)

27

In [152]:
def test11(*args):
    for i in args:
        return type(i)

In [153]:
test11("ruksie")

str

In [154]:
test11(3)

int

In [155]:
test11([1,2,3])

list

### **Kwargs

In [162]:
def test32(**kwargs):
    return kwargs

In [163]:
test32("name":"merchant")

SyntaxError: invalid syntax (Temp/ipykernel_16908/2006296096.py, line 1)

In [ ]:
So what is the actual syntax?

In [165]:
test32(name="Merchant")

{'name': 'Merchant'}

So here the key is not placed into quotes!!! remember

Here internally the function will create a dictionary and in return will take inputs in the form mentioned above

In [171]:
test32(v= True,l ="ruksie",g="Pop")

{'v': True, 'l': 'ruksie', 'g': 'Pop'}

### Kwargs return everything in the form of dictionary!

In [ ]:
Can we pass a dictionary inside it? No

In [175]:
test32({"ruksie":"hey","pop":"hey"})

TypeError: test32() takes 0 positional arguments but 1 was given

In [176]:
test32(a=2,b=7,c=9,d=89)

{'a': 2, 'b': 7, 'c': 9, 'd': 89}

In [177]:
def mul(*args):
    j={}
    for i in args:
        if type(i) in l:
            l[type(i)].append(i)
        else:
            l[type(i)]=[i]
        return l

In [10]:
def lstr(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            for j in i[1]:
                if type(j)==str:
                    print("The string",j,"is found in",i[1])
    return kwargs

In [11]:
lstr(b=6,c=[4,5,6,"lol"],d=["sudh","kumar"],n=6+7j)

The string lol is found in [4, 5, 6, 'lol']
The string sudh is found in ['sudh', 'kumar']
The string kumar is found in ['sudh', 'kumar']

{'b': 6, 'c': [4, 5, 6, 'lol'], 'd': ['sudh', 'kumar'], 'n': (6+7j)}

In [12]:
lstr(name=["Ruksie",24,"F"],birth=[1,2,"Jamnagar"],v=23,s=[2,34,"Juinagar"])

The string Ruksie is found in ['Ruksie', 24, 'F']
The string F is found in ['Ruksie', 24, 'F']
The string Jamnagar is found in [1, 2, 'Jamnagar']
The string Juinagar is found in [2, 34, 'Juinagar']

{'name': ['Ruksie', 24, 'F'],
 'birth': [1, 2, 'Jamnagar'],
 'v': 23,
 's': [2, 34, 'Juinagar']}

In [7]:
l=[]
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            for j in i[1]:
                if type(j)==str:
                    print("We found",j,"inside",i[1])

In [8]:
test19(b=6,c=[4,5,6,"lol"],d=["sudh","kumar"],n=6+7j)

We found lol inside [4, 5, 6, 'lol']
We found sudh inside ['sudh', 'kumar']
We found kumar inside ['sudh', 'kumar']