# TUPLE

#### How to create a tuple?

When you try to hold the data in between the tuple you end up using () circular brackets

In [1]:
t=()

In [34]:
type(t)

tuple

In [35]:
t=("abc",0.89,True,254)

In [36]:
t

('abc', 0.89, True, 254)

### When your trying to perform slicing or parcing  operations even for tuples will you use the same brackets i.e the square brackets

In [37]:
t[1]

0.89

In [39]:
t[0]

'abc'

In [42]:
t[5] #When the index doesnot exists it gives this type of error

IndexError: tuple index out of range

You can slice the tuple data as well

In [44]:
t[::]

('abc', 0.89, True, 254)

In [45]:
t[:9]

('abc', 0.89, True, 254)

In [48]:
t[2::-1]

(True, 0.89, 'abc')

In case of list() check

In [4]:
l=[]

In [5]:
type(l)

list

In [49]:
l=["plo",125,0.56,"t"]

In [50]:
l

['plo', 125, 0.56, 't']

In [51]:
l[2]="pppp"

In [52]:
l

['plo', 125, 'pppp', 't']

#### So in list data type we can re-assign values to the list

In [6]:
t=("abc",123,"pol")

In [7]:
t

('abc', 123, 'pol')

#### So note can we append a value to the tuple?
No we cannot!!

In [53]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [9]:
t.append("abc")

AttributeError: 'tuple' object has no attribute 'append'

### Tuples are IMMUTABLE OBJECTS just as STRINGS are!!

In [10]:
t

('abc', 123, 'pol')

In [14]:
t+1

TypeError: can only concatenate tuple (not "int") to tuple

What are the operations we can perform on the tuples??

### So here we can add as well as multiply tuplessimilar to that of a string!

In [15]:
t+t

('abc', 123, 'pol', 'abc', 123, 'pol')

In [ ]:
So here since tuple is immutable t+t value is stored in another variable

In [54]:
t*2

('abc', 0.89, True, 254, 'abc', 0.89, True, 254)

In [18]:
t*t

TypeError: can't multiply sequence by non-int of type 'tuple'

In [19]:
t-1

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [21]:
t/2

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [55]:
True in t

True

### Similar to the above operations we can perform add and multiply operations on the lists as well

In [27]:
l=[1,"dfg",98]

In [28]:
l+l

[1, 'dfg', 98, 1, 'dfg', 98]

In [29]:
l*2

[1, 'dfg', 98, 1, 'dfg', 98]

In [30]:
l-1

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [31]:
l-l

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [32]:
l*l

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
l/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

### Tuple

In [141]:
t=('abc', 123, 'pol')

In [64]:
max(t)

TypeError: '>' not supported between instances of 'int' and 'str'

## So it doesnot work in heterogenous data type

In [5]:
t4=(1,2,3)

In [6]:
max(t4)

3

In [65]:
t1=[1,2,3]

In [66]:
max(t1)

3

In [79]:
min(t1)

1

### SImilarly for strings based on ASCII values

In [1]:
t2=["pop","lol"]

In [2]:
max(t2)

'pop'

In [3]:
min(t2)

'lol'

In [4]:
type(t2)

list

### INDEX()- Here Index tries to give the first occurence of the value placed at that index inspite of multiple values of the same data might be present in the list or tuple

In [142]:
t.index("abc")

0

In [70]:
k=("abck","polik","abck",1565)

In [71]:
k

('abck', 'polik', 'abck', 1565)

In [74]:
k.index("abck") 
#So here inspite of multiple abck values present in the tuple the index function gives the first occurence of the value
#placed at that index

0

In [77]:
k.index(656)# Since value or item not present in the tuple

ValueError: tuple.index(x): x not in tuple

In [78]:
k.count("abck")

2

## How to insert values in Tuples if needed whats the approach??

In [14]:
p=(1,2,"jik","kik","ujki")

### So to insert values in a tuple we need to convert a tuple in the very first place to a list data type and then add the values by using insert method and then again change the datatype to tuple from list

In [15]:
l=[p]

In [16]:
type(p)

tuple

In [19]:
l

[(1, 2, 'jik', 'kik', 'ujki')]

### So here we could not change the datatype of tuple "p" to list dat type we need a different approach to this scenario

In [20]:
p=(1,2,"jik","kik","ujki")

In [21]:
l2=list(p)

#### Here we changed the datatype of all the values of "p" to all the values placed in l2.

In [109]:
l2

[1, 2, 'jik', 'kik', 'ujki']

In [110]:
l2.insert(3,"popopopop")

In [111]:
l2

[1, 2, 'jik', 'popopopop', 'kik', 'ujki']

In [112]:
p=tuple(l2)

### So here address is going to change the memory location at which p tuple() was holding the data is going to change!!

In [22]:
p

(1, 2, 'jik', 'kik', 'ujki')

## Note: Dont confuse by estimating that we have been mutating the tuple values NO No We already know that tuples are immutable() and we are creating new memory location everytime we change the values. it is not voilating the immutability concept

# Application of Tuples??

So here whenever we try to save passwords for example gmail password So we donot want someone to change our passwords right?
hence comes the immutablity concept

# Nested tuple

In [125]:
y=(("piuy","iu",56),("er",10,78,"l"),56,25,4,5,("lol","po"),[1,5,8,7,0])

In [126]:
type(y)

tuple

In [132]:
for i in y:
    print(i)

('piuy', 'iu', 56)
('er', 10, 78, 'l')
56
25
4
5
('lol', 'po')
[1, 5, 8, 7, 0]

In [128]:
for i in y:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'list'>

So now we need to fetch the value at index 7 in that list we need value 0

In [129]:
y[7]

[1, 5, 8, 7, 0]

In [130]:
y[7][4]

0

In [131]:
y[7][1:4]

[5, 8, 7]

### Question So now if in the tuple y if any item is tuple give me the first index value of that tuple in the list.

In [2]:
y=(("piuy","iu",56),("er",10,78,"l"),56,25,4,5,("lol","po"),[1,5,8,7,0])

In [6]:
for i in y:
    if type(i)==tuple:
        print(i[0])

piuy
er
lol

In [7]:
l=[("piuy","iu",56),("er",10,78,"l"),56,25,4,5,("lol","po"),[1,5,8,7,0]]

In [8]:
l

[('piuy', 'iu', 56),
 ('er', 10, 78, 'l'),
 56,
 25,
 4,
 5,
 ('lol', 'po'),
 [1, 5, 8, 7, 0]]

In [9]:
if i in l:
    if type(i)==list:
        print(i[0])

1

In [47]:
t1=("abc",1,2,5,8)
t2=("pop","abc",1,2,3)

In [49]:
if len(t1)==len(t2):
    print("the tuples have same length")
else:
    print("the tuples donot have similar length")

the tuples have same length

In [10]:
r=("abbas",123,"plumber","kia",1234)

In [40]:
i=input("Enter your name: ")
if i in r:
    print(i,"is found ")
else:
    print(i,"is not found")

Enter your name: abbas
abbas is found

### Delete

Let us see how to delete an entire tuple

In [50]:
del(t1)

In [51]:
t1

NameError: name 't1' is not defined

# SET

### How to create a Set

In [53]:
x=set()

In [54]:
type(x)

set

### So now what is the work of set()? Builds an unordered collection of unique elements.

In [45]:
j={'p', 'p', 'p', 4, 4, 4, 5, 8, 2, 0, 'abc', 'XYZ'}

In [46]:
j

{0, 2, 4, 5, 8, 'XYZ', 'abc', 'p'}

In [47]:
type(j)

set

### Here the work of set is to remove repeated values and gives us unique data which is NOT ORDERED

In [48]:
set(j)#Here as well it is an unordered set as in it just shows randomly but looks in a proper order but the definition says 
#SET IS UNORDERED COLLECTION OF UNIQUE ELEMENTS

{0, 2, 4, 5, 8, 'XYZ', 'abc', 'p'}

In [49]:
type(j)

set

In [50]:
e={"p","p","p",4,45856,454,45,8,2,0,"abc","XYZ"}

In [51]:
e

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [52]:
type(e)

set

In [53]:
set(e)#Here it is giving unordered set

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [54]:
type(e)

set

### Addition operation using add function

In [55]:
e.add(8)

In [56]:
e#So in this set the value of 8 did not get added because set stores ONLY UNIQUE values!

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [57]:
e.add(2)

In [58]:
e#So here since 2 is already present it WONT add 2 to the set()

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [59]:
for i in e:
    print(i)

45856
0
2
4
454
8
abc
45
p
XYZ

In [60]:
"abc" in e

True

In [61]:
e[0] #Here we cannot parse index values in set

TypeError: 'set' object is not subscriptable

### So since we cannot parse through the sets we need to type cast the set into a list datatype first and then extract the given data and then convert it back to a string

In [62]:
j

{0, 2, 4, 5, 8, 'XYZ', 'abc', 'p'}

In [63]:
type(j)

set

In [64]:
k=list(j)

In [65]:
k

[0, 2, 4, 5, 8, 'abc', 'p', 'XYZ']

In [66]:
k.append(7)

In [69]:
k

[0, 2, 4, 5, 8, 'abc', 'p', 'XYZ', 7]

In [70]:
j=set(k)

In [71]:
j

{0, 2, 4, 5, 7, 8, 'XYZ', 'abc', 'p'}

#### Also note you cannot append a repetitive value since set can only hold unique datatype

### So, now look carefully

In [47]:
e.add([1,2])

TypeError: unhashable type: 'list'

### Note: ERROR unhashable type: 'list'

## So since there is a nested list i.e list inside a list we cannot convert its dattype to set()

In [48]:
w=["pop",1,4,56,["abc",2,4,6]]

In [49]:
set(w) #So since there is a nested list i.e list inside a list we cannot convert its dattype to set()

TypeError: unhashable type: 'list'

In [50]:
e={"p","p","p",4,45856,454,45,8,2,0,"abc","XYZ"}

In [51]:
e

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [52]:
e.add([1,2,3])

TypeError: unhashable type: 'list'

In [53]:
e

{0, 2, 4, 45, 454, 45856, 8, 'XYZ', 'abc', 'p'}

In [54]:
f=set()

In [55]:
f.add(20)

In [56]:
f

{20}

In [57]:
f.add(9)

In [58]:
f

{9, 20}

In [59]:
f.remove(9)

In [60]:
f

{20}

In [61]:
f.clear()

In [62]:
f

set()

In [18]:
x=set()

In [19]:
x

set()

In [20]:
x.add(5)

In [21]:
x.add(9)

In [22]:
x.add("roar")

In [23]:
x

{5, 9, 'roar'}

In [24]:
x1=set(l)

In [25]:
l=[1,2,"tight"]

In [26]:
x1

{1, 2, 'tight'}

So now we have two sets x and x1

In [27]:
x+x1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [28]:
x*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [29]:
u=list(x)

In [30]:
u

[9, 5, 'roar']

In [31]:
u.append("ruks")

In [32]:
u

[9, 5, 'roar', 'ruks']

In [78]:
x=set(u)

In [79]:
x

{5, 9, 'roar', 'ruks'}

In [80]:
n=("lol","pair",1,2,3)

In [81]:
w=tuple(n)

In [82]:
w

('lol', 'pair', 1, 2, 3)

In [83]:
set(w)

{1, 2, 3, 'lol', 'pair'}

In [84]:
w

('lol', 'pair', 1, 2, 3)

In [85]:
r=tuple(w)

In [86]:
set(r)

{1, 2, 3, 'lol', 'pair'}

# DICTIONARY

In [87]:
x={}

In [89]:
type(x)

dict

In [ ]:
In a dictionary we get key value pairs and we get unique words

In [1]:
x1={34,36}

In [2]:
x1

{34, 36}

In [3]:
type(x1)

set

In [ ]:
The above is Set datatype but look at their differences

In [7]:
l={"name": "Ruksie" ,"roll no": 80}

In [8]:
l

{'name': 'Ruksie', 'roll no': 80}

In [9]:
type(l) #Here the dictionary has key value pairs

dict

These are the key value pairs and look closely it will update values to the latest one eg: name: "ruksie" & name:"Ruksie" it only took one Ruskie because unique data

In [1]:
x1={"name" : "ruksie" , "age" : 25, "name" : "Ruksie", True: "hi" , "key": False, 786:"jojo"}

In [2]:
x1

{'name': 'Ruksie', 'age': 25, True: 'hi', 'key': False, 786: 'jojo'}

#### So, KEY value wise there is ONLY UNIQUE data 2 keys vannot be repeated but values can be repeated!
now lets see key can hold what all values apart from the above example where we saw it can hold STRINGS BOOLEAN INTEGERs

Lets check whether keys can hold the following or not!

In [12]:
x2={"name":"asther",[1,2,3]:"did"}

TypeError: unhashable type: 'list'

#### So for the above example dictionary cannot hold list as a key data!

In [13]:
x2={"name":"asther",{1,2,3}:"did"}

TypeError: unhashable type: 'set'

#### So for the above example dictionary cannot hold set as a key data!

In [15]:
x2={"name":"asther",(1,2,3):"did"}

In [16]:
x2

{'name': 'asther', (1, 2, 3): 'did'}

#### Can hold tuple as a key data

In [25]:
x2={{"name":"olo"}:"name"}

TypeError: unhashable type: 'dict'

#### Cannot hold dictionary as a key data!

In [ ]:
In the below given examples we CANNOT use special characters as key data as well as values

In [28]:
x2={% : "ruksie"}

SyntaxError: invalid syntax (Temp/ipykernel_21736/4148248865.py, line 1)

In [32]:
x2={"ruksie" : %}

SyntaxError: invalid syntax (Temp/ipykernel_21736/3161253568.py, line 1)

In [29]:
x2={"&l" : "ruksie"}

In [30]:
x2={& :"ruksie"}

SyntaxError: invalid syntax (Temp/ipykernel_21736/3965929945.py, line 1)

In [31]:
x2={"to":$}

SyntaxError: invalid syntax (Temp/ipykernel_21736/56018334.py, line 1)

In [35]:
c1={"_c":9}#Takes underscore with a string value

In [36]:
c1

{'_c': 9}

In [49]:
c1={_876:9}#Takes only underscore with a string value

NameError: name '_876' is not defined

Keep checking all the variations

## NOTE: KEY will always be unique but Value can be duplicate!!
So when you have same keys it will update the values with the latest data and if two different keys have same values values can be duplicate.

In [26]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : "kik","key" : False , 3455: 446 , "_sfsdf" : "sudh"}

In [27]:
x1

{'name ': 'sudh',
 'age': 3455,
 True: 'kik',
 'key': False,
 3455: 446,
 '_sfsdf': 'sudh'}

In [39]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : "kik","key" : False , 3455: 446 , "_sfsdf" : "sudh", "key": "value"}

Here in the above example we can use key string as a key data

In [50]:
c1={"name":"Abbas","surname":"Abbas",589:401}

In [51]:
c1#Takes duplicate values for unique keys

{'name': 'Abbas', 'surname': 'Abbas', 589: 401}

In [ ]:
CAN we add update or remove lements from a dictionary??

In [8]:
CountryCodeDict = {"India": 91, "UK" : 44 , "USA" : 1, "Spain" : 34}
print(CountryCodeDict)

CountryCodeDict.update( {'Germany' : 49} )

print(CountryCodeDict)

# Adding multiple key value pairs
CountryCodeDict.update( [('Austria', 43),('Russia',7)] )

print(CountryCodeDict)

{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34}
{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34, 'Germany': 49}
{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34, 'Germany': 49, 'Austria': 43, 'Russia': 7}

In [9]:
d={'India':1,'Pakistan':2,'kazakistan':3}

In [10]:
d.update(  {'austria':80}    )

In [11]:
d

{'India': 1, 'Pakistan': 2, 'kazakistan': 3, 'austria': 80}

## Adding multiple key value pair

In [12]:
d.update( [ ('london',2),('Burhimgham',3) ] )

In [15]:
print(d,end="")

{'India': 1, 'Pakistan': 2, 'kazakistan': 3, 'austria': 80, 'london': 2, 'Burhimgham': 3}

## Merging two dics

In [16]:
CountryCodeDict1 = {"India": 91, "UK" : 44 , "USA" : 1, "Spain" : 34}
CountryCodeDict2 = {"Germany": 49, "Russia" : 7 , "Austria" : 43}
CountryCodeDict1.update(CountryCodeDict2)
print(CountryCodeDict1)

{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34, 'Germany': 49, 'Russia': 7, 'Austria': 43}

### Now lets check whether we can store LIST BOOLEAN INTEGER STRINGS SET TUPLE DICTIONARY in values for unique keys

In [56]:
s={"name":["Ruksie",1,"Abbas"],"age":{24,29},"gender":True,"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

In [57]:
s

{'name': ['Ruksie', 1, 'Abbas'],
 'age': {24, 29},
 'gender': True,
 'natinality': ('INDIAN', 'CANADIAN'),
 'birth': {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}}

In [62]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : "kik","key" : False , 3455: 446 , "_sfsdf" : "sudh"}

In [63]:
x1["key"]

False

In [ ]:
s={"name":["Ruksie",1,"Abbas"],"age":{24,29},"gender":True,"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

In [68]:
s["name"][2]

'Abbas'

In [70]:
s["age"][1] #Cannot p[arse through a set]

TypeError: 'set' object is not subscriptable

In [72]:
s["birth"]["rukaiya"]#Can parse through the list

'Jamnagar'

In [77]:
p={"name":{"first": "R","second":["Ruksie",1,"Abbas"]},"age":{24,29},"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

In [82]:
p["name"]["second"][0]

'Ruksie'

In [33]:
x3={2:"ruksie","lolo":[78,94,56]}

In [34]:
x4={"k4":"klmp"}

### Addition of two dictionaries

In [35]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Multiplication of two dictionaries

In [36]:
x3*4

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

This is not possible because there has to be unique keys only no duplicacy is allowed

Assignment operation

In [37]:
x3

{2: 'ruksie', 'lolo': [78, 94, 56]}

In [38]:
x3["lolo"]=56

In [39]:
x3

{2: 'ruksie', 'lolo': 56}

In [40]:
x3["lolo"]-=10  #Here see properly what happened

In [41]:
x3

{2: 'ruksie', 'lolo': 46}

In [113]:
x3.keys()

dict_keys([2, 'lolo'])

In [115]:
x3.key()#Check the spelling it is keys

AttributeError: 'dict' object has no attribute 'key'

In [119]:
2 in x3.keys()

True

In [120]:
x3

{2: 'kiki', 'lolo': 36}

#### Here we are printing only the keys

In [129]:
for i in x3:
    print(i)

2
lolo

In [130]:
for i in x3.keys():
    print(i)

2
lolo

#### Here we are printing only values

In [127]:
for i in x3:
    print(x3[i])

kiki
36

In [131]:
for i in x3.keys():
    print(x3[i])

kiki
36

In [132]:
s={"name":["Ruksie",1,"Abbas"],"age":{24,29},"gender":True,"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

In [145]:
s

{'name': ['Ruksie', 1, 'Abbas'],
 'age': {24, 29},
 'gender': True,
 'natinality': ('INDIAN', 'CANADIAN'),
 'birth': {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}}

In [146]:
s.keys()

dict_keys(['name', 'age', 'gender', 'natinality', 'birth'])

In [147]:
for i in s.keys():
    print(s[i])

['Ruksie', 1, 'Abbas']
{24, 29}
True
('INDIAN', 'CANADIAN')
{'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}

In [148]:
for i in s:
    print(type(s[i]))

<class 'list'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'dict'>

### Here items() gives an output of every key value pair placed in the form of a tuple datatype

In [149]:
x3={2: 'kiki', 'lolo': 36}

In [144]:
x3.items()

dict_items([(2, 'kiki'), ('lolo', 36)])

In [150]:
s

{'name': ['Ruksie', 1, 'Abbas'],
 'age': {24, 29},
 'gender': True,
 'natinality': ('INDIAN', 'CANADIAN'),
 'birth': {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}}

In [151]:
s.items()

dict_items([('name', ['Ruksie', 1, 'Abbas']), ('age', {24, 29}), ('gender', True), ('natinality', ('INDIAN', 'CANADIAN')), ('birth', {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'})])

#### So now extract the keys from these items() tuple

In [152]:
for i in s.items():
    print(i)

('name', ['Ruksie', 1, 'Abbas'])
('age', {24, 29})
('gender', True)
('natinality', ('INDIAN', 'CANADIAN'))
('birth', {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'})

Keys

In [156]:
for i in s.items():
    print(i[0])

name
age
gender
natinality
birth

Values

In [157]:
for i in s.items():
    print(i[1])

['Ruksie', 1, 'Abbas']
{24, 29}
True
('INDIAN', 'CANADIAN')
{'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}

So can tuple be used as a key??
Yes right explained on top what all can be used as key

In [158]:
d={("pop",58,"lol") : 585954}

In [159]:
d

{('pop', 58, 'lol'): 585954}

In [160]:
d[('pop', 58, 'lol')]

585954

In [161]:
s

{'name': ['Ruksie', 1, 'Abbas'],
 'age': {24, 29},
 'gender': True,
 'natinality': ('INDIAN', 'CANADIAN'),
 'birth': {'abbas': 'Bandra', 'rukaiya': 'Jamnagar'}}

#### How to check length of the dictionary?

In [162]:
len(s)

5

In [182]:
s["age"][0]

TypeError: 'set' object is not subscriptable

In [192]:
e={56:{46,56,45}}

In [193]:
e[56]

{45, 46, 56}

Now we cannot iterate through the set further since parsing a set would give an error

In [195]:
e[56][0]

TypeError: 'set' object is not subscriptable

So now we will type caste set in to list

In [198]:
e

{56: {45, 46, 56}}

In [228]:
e={56: {45, 46, 89}}
e[56]

{45, 46, 89}

In [229]:
list(e[56])

[89, 45, 46]

## Take an input from the user as a paraghraph

In [75]:
a=input("Enter the paragraph----")

Enter the paragraph----Wikipedia is an encyclopedia that anyone can edit, and tens of millions already have!  Wikipedia's purpose is to benefit readers by acting as a widely accessible and free encyclopedia that contains information on all branches of knowledge. Hosted by the Wikimedia Foundation, Wikipedia consists of freely editable content whose articles also provide numerous links to guide readers to related pages with more information.

In [76]:
a

"Wikipedia is an encyclopedia that anyone can edit, and tens of millions already have!  Wikipedia's purpose is to benefit readers by acting as a widely accessible and free encyclopedia that contains information on all branches of knowledge. Hosted by the Wikimedia Foundation, Wikipedia consists of freely editable content whose articles also provide numerous links to guide readers to related pages with more information."

### Convert the paragraph into a list of words

In [77]:
for i in range(len(a)):
    print(a[i],end="")

Wikipedia is an encyclopedia that anyone can edit, and tens of millions already have!  Wikipedia's purpose is to benefit readers by acting as a widely accessible and free encyclopedia that contains information on all branches of knowledge. Hosted by the Wikimedia Foundation, Wikipedia consists of freely editable content whose articles also provide numerous links to guide readers to related pages with more information.

In [78]:
n=list(a.split( ))

In [79]:
print(n)

['Wikipedia', 'is', 'an', 'encyclopedia', 'that', 'anyone', 'can', 'edit,', 'and', 'tens', 'of', 'millions', 'already', 'have!', "Wikipedia's", 'purpose', 'is', 'to', 'benefit', 'readers', 'by', 'acting', 'as', 'a', 'widely', 'accessible', 'and', 'free', 'encyclopedia', 'that', 'contains', 'information', 'on', 'all', 'branches', 'of', 'knowledge.', 'Hosted', 'by', 'the', 'Wikimedia', 'Foundation,', 'Wikipedia', 'consists', 'of', 'freely', 'editable', 'content', 'whose', 'articles', 'also', 'provide', 'numerous', 'links', 'to', 'guide', 'readers', 'to', 'related', 'pages', 'with', 'more', 'information.']

### Delete the DUPLICATES

In [80]:
print(set(n))

{'a', 'to', 'knowledge.', 'provide', 'related', 'accessible', 'of', 'benefit', 'an', 'by', 'widely', 'and', 'freely', 'pages', 'anyone', 'already', 'readers', 'content', 'guide', 'whose', 'on', 'Wikipedia', 'branches', 'links', 'millions', 'can', 'the', 'articles', 'Hosted', 'tens', 'numerous', 'information', 'Wikimedia', 'free', 'all', 'contains', 'that', "Wikipedia's", 'editable', 'information.', 'is', 'also', 'with', 'acting', 'consists', 'encyclopedia', 'as', 'have!', 'purpose', 'edit,', 'more', 'Foundation,'}

In [81]:
d=set(n)

In [82]:
print(d)

{'a', 'to', 'knowledge.', 'provide', 'related', 'accessible', 'of', 'benefit', 'an', 'by', 'widely', 'and', 'freely', 'pages', 'anyone', 'already', 'readers', 'content', 'guide', 'whose', 'on', 'Wikipedia', 'branches', 'links', 'millions', 'can', 'the', 'articles', 'Hosted', 'tens', 'numerous', 'information', 'Wikimedia', 'free', 'all', 'contains', 'that', "Wikipedia's", 'editable', 'information.', 'is', 'also', 'with', 'acting', 'consists', 'encyclopedia', 'as', 'have!', 'purpose', 'edit,', 'more', 'Foundation,'}

### Now for every distinct element should be key and the value for all the keys should be your name

In [83]:
dic={}
for i in d:
    dic[i]="Ruksie" #Here the dictionary dic has i as its key where every key is assigned ruksie
print(dic)

{'a': 'Ruksie', 'to': 'Ruksie', 'knowledge.': 'Ruksie', 'provide': 'Ruksie', 'related': 'Ruksie', 'accessible': 'Ruksie', 'of': 'Ruksie', 'benefit': 'Ruksie', 'an': 'Ruksie', 'by': 'Ruksie', 'widely': 'Ruksie', 'and': 'Ruksie', 'freely': 'Ruksie', 'pages': 'Ruksie', 'anyone': 'Ruksie', 'already': 'Ruksie', 'readers': 'Ruksie', 'content': 'Ruksie', 'guide': 'Ruksie', 'whose': 'Ruksie', 'on': 'Ruksie', 'Wikipedia': 'Ruksie', 'branches': 'Ruksie', 'links': 'Ruksie', 'millions': 'Ruksie', 'can': 'Ruksie', 'the': 'Ruksie', 'articles': 'Ruksie', 'Hosted': 'Ruksie', 'tens': 'Ruksie', 'numerous': 'Ruksie', 'information': 'Ruksie', 'Wikimedia': 'Ruksie', 'free': 'Ruksie', 'all': 'Ruksie', 'contains': 'Ruksie', 'that': 'Ruksie', "Wikipedia's": 'Ruksie', 'editable': 'Ruksie', 'information.': 'Ruksie', 'is': 'Ruksie', 'also': 'Ruksie', 'with': 'Ruksie', 'acting': 'Ruksie', 'consists': 'Ruksie', 'encyclopedia': 'Ruksie', 'as': 'Ruksie', 'have!': 'Ruksie', 'purpose': 'Ruksie', 'edit,': 'Ruksie', 'more': 'Ruksie', 'Foundation,': 'Ruksie'}

## OR

In [84]:
dic=dic.fromkeys(d,"Ruksie")

In [85]:
print(dic)

{'a': 'Ruksie', 'to': 'Ruksie', 'knowledge.': 'Ruksie', 'provide': 'Ruksie', 'related': 'Ruksie', 'accessible': 'Ruksie', 'of': 'Ruksie', 'benefit': 'Ruksie', 'an': 'Ruksie', 'by': 'Ruksie', 'widely': 'Ruksie', 'and': 'Ruksie', 'freely': 'Ruksie', 'pages': 'Ruksie', 'anyone': 'Ruksie', 'already': 'Ruksie', 'readers': 'Ruksie', 'content': 'Ruksie', 'guide': 'Ruksie', 'whose': 'Ruksie', 'on': 'Ruksie', 'Wikipedia': 'Ruksie', 'branches': 'Ruksie', 'links': 'Ruksie', 'millions': 'Ruksie', 'can': 'Ruksie', 'the': 'Ruksie', 'articles': 'Ruksie', 'Hosted': 'Ruksie', 'tens': 'Ruksie', 'numerous': 'Ruksie', 'information': 'Ruksie', 'Wikimedia': 'Ruksie', 'free': 'Ruksie', 'all': 'Ruksie', 'contains': 'Ruksie', 'that': 'Ruksie', "Wikipedia's": 'Ruksie', 'editable': 'Ruksie', 'information.': 'Ruksie', 'is': 'Ruksie', 'also': 'Ruksie', 'with': 'Ruksie', 'acting': 'Ruksie', 'consists': 'Ruksie', 'encyclopedia': 'Ruksie', 'as': 'Ruksie', 'have!': 'Ruksie', 'purpose': 'Ruksie', 'edit,': 'Ruksie', 'more': 'Ruksie', 'Foundation,': 'Ruksie'}

### Print all the values as a tuple

In [94]:
t1=tuple(dic.values())

In [95]:
t1

('Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie',
 'Ruksie')

## OR

In [87]:
dic.keys()

dict_keys(['a', 'to', 'knowledge.', 'provide', 'related', 'accessible', 'of', 'benefit', 'an', 'by', 'widely', 'and', 'freely', 'pages', 'anyone', 'already', 'readers', 'content', 'guide', 'whose', 'on', 'Wikipedia', 'branches', 'links', 'millions', 'can', 'the', 'articles', 'Hosted', 'tens', 'numerous', 'information', 'Wikimedia', 'free', 'all', 'contains', 'that', "Wikipedia's", 'editable', 'information.', 'is', 'also', 'with', 'acting', 'consists', 'encyclopedia', 'as', 'have!', 'purpose', 'edit,', 'more', 'Foundation,'])

In [88]:
dic[i] #here showing only i=0 #But overall for every i key value is r thats the reason r is getting printed down

'Ruksie'

In [93]:
list1=[]
for i in dic.keys():
    list1.append(dic[i])
print(tuple(list1))

('Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie', 'Ruksie')

### Print all the values as keys

In [379]:
l=list(dic.keys())

In [382]:
print(l)

['tens', 'to', 'free', 'is', 'already', 'by', 'a', 'readers', 'all', 'links', 'of', 'acting', 'information', 'editable', 'can', 'content', 'millions', 'encyclopedia', 'anyone', 'articles', 'Wikimedia', 'consists', 'widely', 'information.', 'pages', 'provide', 'more', 'whose', 'edit,', 'the', 'with', 'freely', 'that', 'numerous', 'as', 'contains', 'also', 'branches', 'related', 'benefit', 'an', 'purpose', 'Hosted', 'Wikipedia', 'on', 'Foundation,', 'guide', "Wikipedia's", 'and', 'knowledge.', 'have!', 'accessible']

## OR

In [389]:
li=[]
for i in dic.keys():
    li.append(i)
print(li)

['tens', 'to', 'free', 'is', 'already', 'by', 'a', 'readers', 'all', 'links', 'of', 'acting', 'information', 'editable', 'can', 'content', 'millions', 'encyclopedia', 'anyone', 'articles', 'Wikimedia', 'consists', 'widely', 'information.', 'pages', 'provide', 'more', 'whose', 'edit,', 'the', 'with', 'freely', 'that', 'numerous', 'as', 'contains', 'also', 'branches', 'related', 'benefit', 'an', 'purpose', 'Hosted', 'Wikipedia', 'on', 'Foundation,', 'guide', "Wikipedia's", 'and', 'knowledge.', 'have!', 'accessible']

In [407]:
b={"height": 5.9 , "weight" : 95 , "fav" : "Rice"}

In [408]:
for i in b:
    print("The key is: ",i,"The value is: ",b[i])

The key is:  height The value is:  5.9
The key is:  weight The value is:  95
The key is:  fav The value is:  Rice

In [446]:
b={"height": 5.9 , "weight" : 95 , "fav" : "Rice"}

In [449]:
for i in b:
    if i=="weight":
        if b[i] > 95:
            print("The weight is or more than 95kgs")
        else:
            b[i]=100

The weight is or more than 95kgs

In [448]:
b

{'height': 5.9, 'weight': 100, 'fav': 'Rice'}

## Print the square of the keys

In [453]:
d={}
for i in range(10):
    d[i]=i*i
#So here d is the dict and d[i] is the key of the dic and = is the value that we get i.e i*i

In [454]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Dictionary comprehention way

In [1]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Previously created seperate files

In [2]:
t=()

type(t)

t=(1,2,3,4,5,6)

Perform string slicing and show?

## String slicing takes place in tuples!

t[1]

t[3]

t[1]=0

## String assignment does not take place in tuples

t[4]="plo"

t=(1,"o",2,"p",3,"i")

t[4]

t[3]

## We cannot append as well add or delete 

t.add(3)

t.append("pop")

### They perform addition operations with heterogenous datatype as well

t1=("pop",1,2)

t1+t

t

t1

t*t1

a=(1,2,3)

b=(2,4,6)

a*b

t*t

a*a

t*2

a*3

t-t

t/t

t-1


t/4

## ONLY TAKES PLACE IN HOMOGENOUS DATA.

t=(1,2,"lol")

max(t)

g=(2,3,4,5,6)

max(g)

min(g)

### BOTH MIN AND MAX BASED ON ASCII VALUE AND HOMOGENOUS DATATYPE

t=("pop","kiki","jojo","kiki")

#### MAX

max(t)

#### MIN

min(t)

#### In list or tuple the index value will be given the first preference, the occurence of the first value will be considered inspite of multiple values being placed in them.

#### INDEX

t.index("kiki")

t.index("kiki")

Here in the index function you need to find the value "kiki"

#### COUNT

t.count("jojo")

How to insert values in a tuple

#### HOW TO INSERT VALUES IN A TUPLE?

p=(1,2,3,4)

l=list(p)

p

l

### Using typecasting we will convert the datatype!!

l.append(24)

l

l.insert(3,"ruru")

l

### Now changing the datatype back to tuple

p=tuple(l)

p

### What is the application of tuple

## Passwords 

y=(("piuy","iu",56),("er",10,78,"l"),56,25,4,5,("lol","po"),[1,5,8,7,0])

for i in y:
    print(i)

for i in y:
    if type(i)==tuple:
        print(i)

c=0
for i in y:
    if type(i)==tuple:
        for j in i:
            if type(j)==int:
                c=c+j
                
print(c)
                
                
     

## WE CAN PARSE THROUGH Tuples, parsing operations

y


y[6]

y[6][1]

y[1]

y[1][3]

### Question So now if in the tuple y if any item is tuple give me the first index value of that tuple in the list.
for i in y:
    if type(i)==tuple:
        print(i[0])

r=("abbas",123,"plumber","kia",1234)

n=input("enter your name: ")
if n in r:
    print("Found name")
else:
    print("Not found name")

## How to delete a tuple permenantly

del(r)

So here r got deleted!!

r

### SET

HOW TO CREATE A SET

x=set()

x

#### WORK OF SET IS TO BUILD UNORDERED SET OF UNIQUE ELEMENTS PRESENT IN IT

t={1,2,2,3,4,8,"ruksie","lol"}

t

So chcek a few items that were duplicate have been eliminated

### WE CAN INSERT DATA IN A SET

t.add(43)

t

for i in t:
    print(i)

43 in t
    

## WE CANNOT PARSE THROUGH SETS

t[0]

# So here we need to type cast the set datatype into a list

t={1,2,2,3,4,8,"ruksie","lol"}

l=list(t)

t


l

l[2]

l.append(9)

l

t=set(l)

t

t.add([1,2])

### Now can we type caste a nested list in to a set??

w=["pop",1,4,56,["abc",2,4,6]]

t=set(w)

e={"p","p","p",4,45856,454,45,8,2,0,"abc","XYZ"}

e.add("T")

e

e.remove(2)

e

f={0,5,6}

f.clear()

f

x=set(l)

l=[1,2,4,"ruku"]

x1=set()

x1

x1.add(20)

x1.add("pop")

x1.add(78)

x1

## CANNNOT perform arithmetic operations on a set

x+x1

x*x1

x*2

x+1

## DICTIONARY

d={}

d

In a dictionary we have key value pair 

d={"name":"Ruksie","name": "ruksie"}

d

### Rememeber keys cannot be duplicate whereas values can be duplicate and hence it takes the lastest key value pair!

What all datatype can a key hold let check that out

d={"name":"Ruskie",True:"married",24:"Female",[1,2,3]:"Jamnagar"}

#### KEYS CANNOT TAKE A LIST!

d={"name":"Ruskie",True:"married",24:"Female",{1,2,3,4}:"lol"}

#### KEYS CANNOT TAKE A SET!

d={(1,2,"pop"):True}


#### KEYS CAN TAKE A TUPLE

d={{"name":"Pop"}}

#### KEYS CANNOT TAKE DICTIONARY

In the below examples we cannot use SPECIAL CHARACTERS AS KEY OR VALUE PAIRS 

But can take an under score used with a string 

d={"_c":90}

But not with an int

d{_9:"pop"}

d={9: "_c"}

So takes it in value as well

### So note keys will always be unique but Values can be duplicate

x1 = {"name " :"sudh"  , "age": 3455 ,True : "kik","key" : False , 3455: 446 , "_sfsdf" : "sudh"}

Now,

### Now lets check whether we can store LIST BOOLEAN INTEGER STRINGS SET TUPLE DICTIONARY in values for unique keys

s={"name":["Ruksie",1,"Abbas"],"age":{24,29},"gender":True,"natinality": ("INDIAN","CANADIAN"),"birth":{"abbas":"Bandra","rukaiya": "Jamnagar"}}

s

### Can take all the dattypes as values

So now parsing through the dictionaries 

s[3]#This is not available in the dictionay n hence the error

s["name"]

s["age"]

Now performing operations on dictionaries

ADDITION 

x3={2:"ruksie","lolo":[78,94,56]}

x4={"k4":"klmp"}

x3+x4

x3*x4

x3*2

x3+3

### Assignment operation

x3

x3[2]=98

x3

x3["lolo"]-=41

x3["lolo"][2]-=10

x3

See what happended on the above we subtracted the last value of the list by 10

## How to only get keys or only values

x3.keys()

x3.values()

for i in x3:
    print(i) # here i is the keys by default

for i in x3:
    print(x3[i])

x4

### Using items() we can get the dictionary in the form of a tuple

s.items()

Now from the above get me all the keys and values individually

for i in s.items():
    print(i)#This gives the entire tuple 

for i in s.items():
    print(i[0])

for i in s.items():
    print(i[1])

len(s)

### Parsing through dictionaries 

e={56:{46,56,45}}

e[56]

e[56][2]

So since we cannot entirely parse through the dictionary we will need to type caste it

l=list(e[56])

l

l[1]

s="A paragraph consists of one or more sentences. Though not required by the syntax of any language paragraphs are usually an expected part of formal writing used to organize longer prose  "

s

r=list(s.split( ))

print(r)

set(r)

d=set(r)

d

dic={}
for i in d:
    dic[i]="ruksie"
print(dic)
    

l=tuple(dic.values())

y=tuple(dic.keys())

print(l,end=" ")

print(y,end=" ")

### Square of the dictionary key as value:

d={}
for i in range(10):
    d[i]=i*i
    #So here d[i] is the value so i*i gives Value=key*key since i is the denotion for key!

d

## FUNCTIONS

Function creates reusability and function is something that is more readable we can divide set of code into modules.


#### How to create a function?

def test(a,b):
    print(a+b)

#### How to call a function?

test(2,3)

type(test(2,3))

### NONETYPE

### What is NONE TYPE?
DEFINITION: 
The None keyword is used to define a null value, or no value at all. None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

def test1(a,b):
    return (a+b) 

test1(5,7)

type(test1(5,7))

Wherein here for the above example if return type is giving me int as a data type we can ADD a number to an integer right??!!
Hence we are able to perform the following here

### So, return keyword will always give the same datatype as the operations it has been assigned 
Suppose it has been assigned int operation then it will throw int datatype to us!!!

def test2(a,b,c):
    return a*b

test2(2,3,4)

But what if we only place two values inside the parameter place!

test2(2,5)

So basically once you define the function the number of arguments passed through them you all of them should be called while calling the functions

So, Now 

def test3(a,b):
    return a*b,a+b,a-b

test3(4,6)

type(test3(4,6))

h,i,j=test3(2,6)

h

i

j

h,_,j=test3(2,6)

h

_

j

What happens when we dont place a placeholder?

b,v=test3(5,5)

It basically gives an error

b,_,_=test3(6,5)

b

_

_

def test4(a,b,c):
    return a + b
    return b + c

### Now here if we take 2 return statements the first one will get returned 

test4(2,3,6)

def test5():
    print("This is test5 function")

test5()

test5()+"hieee"

test5()+9

def test6():
    return "Hey this id function 6"

test6()

test6()+ " reallllllly"

test6()+7

### Here string so we need to typecaste but whatever it is if its return then we can add seperately and when it is print we cannot

def test7(n):
    return n*n

test7([1,2,3])

test7(5)

test7("ruk")

test7((1,2,3))

test7({1,4,7})

def test8(n):
    return n*2

test8([1,2,3])

test8(["r","u"])

test8((1,2,3,4))

test8({1,8})#Since set has only unique values 

test8({"name":23})#Here as well in dictionary keys are unique

test8("pop")

r=test8([1,2,3])

r[0]

r

z=test8((4,7,9))

z[0]

z[3]

z

type(z)

def boolx(a=True, b=False):
    return a+b

boolx()

boolx(True)

boolx(False)

boolx(True,0)#So here True is 1 which is 1+0

boolx(False,6)#So here False is 0 which is 0+6

The pre assigned values get overwritten so at runtime we can change the pre assigned values and place the desired values needed at that time

def travel(car=True,bike=False):
    travel=car or bike
    return car,bike,travel

travel(True)

travel(False)#This is by defalut the value assigned to the car

travel(bike=True)

## *args?

## Remember args return value in the form of tuples

def r(*args):
    return args

r(1,"ruks",[1,2,3])

def l(*args):
    return list [(args)]

l([1,2,3,4],[2,3,4])

def l(*args):
    return list(args)

l([2,3,4],[7,8,9,10],[3,4,5,6])

But we them in one list only not nested lists 

def li(*args):
    lis=[]
    for i in args:
        lis=lis+i
    return lis
        

li([1,2,3],["ruks"])

def test99(*args):
    j=[]
    for i in args:
        j.append(i)
    return j

test99([1,2,3],["ruks"])

def test22(*args):
    count=0
    for i in args:
        count=count+i
    return count

test22(3,4,5,4,5,6)

def test11(*args):
    for i in args:
        return type(i)

test11("ruksie")

test11(3)

test11([1,2,3])

### **Kwargs

def test32(**kwargs):
    return kwargs

test32("name":"merchant")

So what is the actual syntax?

test32(name="Merchant")

So here the key is not placed into quotes!!! remember  

Here internally the function will create a dictionary and in return will take inputs in the form mentioned above 

test32(v= True,l ="ruksie",g="Pop")

### Kwargs return everything in the form of dictionary!

Can we pass a dictionary inside it? No

test32({"ruksie":"hey","pop":"hey"})

test32(a=2,b=7,c=9,d=89)

def mul(*args):
    j={}
    for i in args:
        if type(i) in l:
            l[type(i)].append(i)
        else:
            l[type(i)]=[i]
        return l

def lstr(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            for j in i[1]:
                if type(j)==str:
                    print("The string",j,"is found in",i[1])
    return kwargs

lstr(b=6,c=[4,5,6,"lol"],d=["sudh","kumar"],n=6+7j)

lstr(name=["Ruksie",24,"F"],birth=[1,2,"Jamnagar"],v=23,s=[2,34,"Juinagar"])

l=[]
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            for j in i[1]:
                if type(j)==str:
                    print("We found",j,"inside",i[1])

test19(b=6,c=[4,5,6,"lol"],d=["sudh","kumar"],n=6+7j)

SyntaxError: invalid syntax (Temp/ipykernel_14324/1546899045.py, line 100)