In [ ]:
Functions?
In pythons one of the important concept is functions
In modular coding we need functions
Function creates reusability and function is something that is more readable we can divide set of code into modules.

Pre Defined functions
type()
len()

### def-Its a keyword in Python that denotes DEFINE   return is a keyword too and helps us perform premitive function like eg: test2(2,3)+1

test(a,b) -This is a function created and a and b are the arguments that were passed in them.

### How to create a function

Function name can be anything your name my name etc....

In [63]:
def test(a,b):
    print(a+b)

### So how to Call the function

In [64]:
test(2,3)

5

SO now,

In [65]:
def test1(a,b):
    return a * b

In [66]:
test1(3,5)

15

### Difference between the two?? So here if we add 15 to both the types where once we have used print and the other place we have used return keyword

In [67]:
def test2(a,b):
    print(a+b)

In [68]:
test2(2,3)+1

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [69]:
def test3(a,b):
    return a+b

In [70]:
test3(2,8)+25

35

So for the above to get cleared let me check the datatype

In [71]:
type(test2(2,3))

5

NoneType

### What is NONE TYPE?
DEFINITION: 
The None keyword is used to define a null value, or no value at all. None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

So for the above example in test2 we are getting the datatype as None type and hence we cannot perform any operations on the above data

In [72]:
type(test3(2,8))

int

Wherein here for the above example if return type is giving me int as a data type we can ADD a number to an integer right??!!
Hence we are able to perform the following here

### So, return keyword will always give the same datatype as the operations it has been assigned 
Suppose it has been assigned int operation then it will throw int datatype to us!!!

## UNDERSTAND THIS CAREFULLY

### PART 1

In [73]:
b=test2(2,3)

5

In [74]:
b #When trying to print this one we get absolute no answers

In [75]:
b+1 #WHen we add it gives us an error stating---- unsupported operand type(s) for +: 'NoneType' and 'int'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [76]:
type(b) #Because type of b is NONETYPE

NoneType

### PART 2

In [77]:
c=test3(2,3)

In [78]:
c #Here it is allowing us to get an output since it is an integer type data

5

In [79]:
c+8#Here it is allowing to add numbers to the integer datatype

13

In [80]:
type(c)

int

### Return allows us to perform premitive function like eg c+8 so dont us print function at all and we only use return keyword

## ONLY suppose to use RETURN keyword!! ALwaysss

In [81]:
#So now
def test4(a,b,c):
    return a + b

In [83]:
test4(2,4)#Here an error because the signatured def wants 3 arguments as it has defined (a,b,c) right? Henc ethe error

TypeError: test4() missing 1 required positional argument: 'c'

In [86]:
test4(5,6,7)#But here it has only summed up a+b and not c

11

#### So now!

In [92]:
def test5(n,m):
    return n*10, m*10, m+n

In [95]:
test5(5,6) # See clearly what all is happening!

(50, 60, 11)

### Here we are getting in return a tuple as a datatype which is by default

In [96]:
#Check the type?
type(test5(5,6))

tuple

#### Now if we want the output of all these in 3 different variables how do we manage that?

In [110]:
r,t,u=test5(2,3)#So this is clearly how you define three variables here and that will return the output respectively

In [111]:
r

20

In [108]:
t

30

In [109]:
u

5

So, technically there are functions that'll give you multiple returns helpfull in deep learning!

Now instead of all the three returns we only want two i.e n*10 and m*10?

In [118]:
d,f, _ =test5(8,9)

#### NOTE: _ i.e underscore is a place holder not a variable name

In [119]:
d

80

In [120]:
f

90

In [245]:
_

0

What if we don't place the place holder??

In [246]:
b,v=test5(5,6)#Error since there is nothing to hold the third data!!

ValueError: too many values to unpack (expected 2)

Here for the above it gives an error becuase there are three values to be returned and only two variables are assigned
Here it is our duty to assigned proper number of variable or place holders for us to get a required output

In [247]:
g,_,_=test5(8,9)

So here if there is a placeholder that means no variable is assigned to it! Hence it gets confused

In [248]:
g

80

In [249]:
_

17

In [250]:
_

17

In [251]:
#So again,
def test4(a,b,c):
    return a + b
    return b + c

In [252]:
test4(8,9,7)

17

So here it is not able to evaluate the second data

Now next,

In [253]:
def test6():
    print("This is the first example of a string!")

In [254]:
test6()+"Heyy"

This is the first example of a string!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [255]:
test6()+2 #Will give an error based on what we explained in the previous examples

This is the first example of a string!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

But now,

In [256]:
def test7():
    return "This is another string example"

In [257]:
test7()

'This is another string example'

In [258]:
test7()+"Heyyyyyyy"

'This is another string exampleHeyyyyyyy'

So in the above this gets added but can we concatenate a string to an integer ???

In [259]:
test7( )+8

TypeError: can only concatenate str (not "int") to str

### NO! can only concatenate str (not "int") to str

In [260]:
def ex(n):
    return n*2

So basically if we take a list [2,3,4] where n denotes the list then return n*2 will get the below desired output!

In [261]:
ex([2,3,4])

[2, 3, 4, 2, 3, 4]

But also here if n = a single number then see the results

In [262]:
ex(25)

50

In [263]:
def test8(n):
    return n,n*3

In [264]:
test8([7,5,2,4,6])

([7, 5, 2, 4, 6], [7, 5, 2, 4, 6, 7, 5, 2, 4, 6, 7, 5, 2, 4, 6])

In [265]:
c=test8([7,5,2,4,6])

In [266]:
c[0]

[7, 5, 2, 4, 6]

In [267]:
c[1]

[7, 5, 2, 4, 6, 7, 5, 2, 4, 6, 7, 5, 2, 4, 6]

In [268]:
def boolx(x= True,y=False):
    return x+y

So here we are assigning values at the time of function creation already right? Now what happens when we again assign values while calling out the function.

In [269]:
boolx()#Since x=True=1,y=False=0

1

In [270]:
boolx(False)#Since false value is 0

0

In [271]:
boolx(True ,0)#Since true is value 1

1

In [272]:
boolx(False,9)

9

The pre assigned values get overwritten so at runtime we can change the pre assigned values and place the desired values needed at that time

In [273]:
def travel(bike=True,car=False):
    plan_travel= bike or car
    return bike,car,plan_travel

In [274]:
travel()#Here without placing arguments we need to got this!

(True, False, True)

In [275]:
travel(True)#Here it will take True for Bike value right!!!!?, Yes

(True, False, True)

In [276]:
travel(False)#Here again same it will take False value for travel

(False, False, False)

But now we want to replace car value instead of that of a bike

In [277]:
travel(car=True)
#So by default here if we don't assign the variable the value goes to the first variable and hence the second variable 
#need to be assigned explicitly

(True, True, True)

#### Now how about using a place holder?

In [280]:
travel(True,_)#Since the earlier value of the place holder was 17 like lonbg back!

(True, 17, True)

### Questions  
[   ],[ ],[ ]-Take multiple lists
[[   ],[  ],[  ]]-return it in a single list

In [26]:
def li(*lists):
    l=[]
    for i in lists:
        for j in i:
            l.append(j)
    print(l)

In [27]:
li([1,2,3],[2,3,4],[6,7,8])

[1, 2, 3, 2, 3, 4, 6, 7, 8]

In [ ]:
First way i did on my own

In [44]:
def l(*args):
    return list(args)

In [79]:
l([2,3,4],[7,8,9,10],[3,4,5,6])

[[2, 3, 4], [7, 8, 9, 10], [3, 4, 5, 6]]

#### DOUBT EXTEND FUNCTION 1:30 lec 21st March

In [56]:
def tes1(*args):
    return [i for i in args]

In [57]:
tes1([0,9,8],[9,8,7])

[[0, 9, 8], [9, 8, 7]]

#### GENERIC CODE?
Generic Programming enables the programmer to write a general algorithm which will work with all data types. It eliminates the need to create different algorithms if the data type is an integer, string or a character.

But we want below output???

### Questions  
[   ],[ ],[ ]-Take multiple lists
[,,,,]-return it in a single list

In [40]:
def test99(*args):
    j=[]
    for i in args:
        j=j+i
    return j

In [41]:
test99([2,3,4],[3,4,5])

[2, 3, 4, 3, 4, 5]

THIS IS THE OUTPUT SIR EXPECTED!!

In [ ]:
So now try this

In [81]:
test99("abc",[3,4,5],89)

TypeError: can only concatenate list (not "str") to list

In [ ]:
To avoid the error here we go!

In [82]:
def test99(*args):
    j=[]
    for i in args:
        if type(i)==list:
            j=j+i
    return j

In [83]:
test99("abc",[3,4,5],89)

[3, 4, 5]

### So now moving on to next sub topic

### **kwargs

In [93]:
def test88(**kwargs):
    return kwargs

## What is kwargs-it is keyword args!

In [94]:
def test88(**kwargs):
    return kwargs

In [95]:
test88(2,44,5)

TypeError: test88() takes 0 positional arguments but 3 were given

##### It will give an error why? earlier in args it was not the same ?!! right?!
takes 0 positional arguments but 3 were given
Here it is complaining the function is

In [97]:
test88(a=2,b=7,c=9,d=89)

{'a': 2, 'b': 7, 'c': 9, 'd': 89}

#### Worked how? Here we need to pass key value pair data only!!! Dictionary

## But can it pass a dictionary inside it NOOOO

In [102]:
test88({"a":2,"b":7,"c":9,"d":89}) #See here as well it cannot take dictionary as an input

TypeError: test88() takes 0 positional arguments but 1 was given

But now see

In [105]:
test88(a=2,b=7,c=9,d=89)

{'a': 2, 'b': 7, 'c': 9, 'd': 89}

In [ ]:
Declaration of dictionary

In [29]:
dic={'a':"Ruksie",'99':102}

In [30]:
dic

{'a': 'Ruksie', '99': 102}

But in kwargs i.e keyword arguments it is different and the output returns a dictionary!!!

In [40]:
def test786(**kwargs):
    return kwargs

In [41]:
test786(a=89,dob=10-9-1998)

{'a': 89, 'dob': -1997}

### Here internally the function will create a dictionary and send an output in the form of a dictionary

In [117]:
test88(a="abc",v=52,p=True)

{'a': 'abc', 'v': 52, 'p': True}

#### See carefully what do args return

In [118]:
def arguments(*args):
    return args

In [121]:
arguments("abc",56,[1,2,3],True)

('abc', 56, [1, 2, 3], True)

### They return everything in the form of a TUPLE

## Question
Create a function that can take any number of mixed data and try to create a list of seperate data based on the datatype() and return multiple results.

Part2:
Create a function which will be able use args and kwargs and it will be able to concatenate all the list values only and return a list

In [249]:
l=[]
c=[]
d=[]
t=[]
it=[]
f=[]
def mul_data(*args):
    for i in args:
        if type(i)==list:
            l.append(i)
        if type(i)==str:
            c.append(i) 
        if type(i)==tuple:
            t.append(i)
        if type(i)==dict:
            d.append(i)
        if type(i)==int:
            it.append(i)
        if type(i)==float:
            f.append(i)
            
    return l,c,t,d,it,f

In [250]:
mul_data("str",9,"seeer",8,7,("a","b",89),[1,"or"],{"pop":89,"t":89},[15689,56.45,"or"],[1,2,5,"or"],52.26)

([[1, 'or'], [15689, 56.45, 'or'], [1, 2, 5, 'or']],
 ['str', 'seeer'],
 [('a', 'b', 89)],
 [{'pop': 89, 't': 89}],
 [9, 8, 7],
 [52.26])

In [251]:
def tesst(*args,**kwargs):
    lii=[]
    for i in args :
        if type(i)==list:
            lii.append(i)
    for  i in kwargs.items():
        if type(i[1])==list:
            lii.append(i[1])
            
    return lii

In [252]:
tesst("pop","str",9,"seeer",8,7,("a","b",89),[1,"or"],[0,8,8,9],p=9,k="ruks",l=[0,9,8,7])

[[1, 'or'], [0, 8, 8, 9], [0, 9, 8, 7]]

# DOUBT at 2:19pm 21st March

### extend and append to get the one list solution in place of above solution!

In [258]:
d={"c":"abcd",7:True , "lol":85}

In [259]:
d.items()
#Remember items always return key value pairs in tuple datatype and d.values only returns values

dict_items([('c', 'abcd'), (7, True), ('lol', 85)])

In [260]:
d.values()

dict_values(['abcd', True, 85])

## Creating a generic code for all datatype!

In [3]:
def func(*args):
    l={}
    for i in args:
        if type(i) in l:
            l[type(i)].append(i)
        else:
            l[type(i)]=[i]
    return l

In [4]:
func("str",9,"seeer",8,7,("a","b",89),[1,"or"],{"pop":89,"t":89},[15689,56.45,"or"],[1,2,5,"or"],52.26)

{str: ['str', 'seeer'],
 int: [9, 8, 7],
 tuple: [('a', 'b', 89)],
 list: [[1, 'or'], [15689, 56.45, 'or'], [1, 2, 5, 'or']],
 dict: [{'pop': 89, 't': 89}],
 float: [52.26]}

In [8]:
def test18(**kwargs):
    return kwargs

In [9]:
test18(b=6,c=[4,5,6,7],d=["sudh","kumar",5.67],n=6+7j)

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar', 5.67], 'n': (6+7j)}

In [1]:
l=[]
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            for j in i[1]:
                if type(j)==str:
                    print("We found",j,"inside",i[1])
    return kwargs

In [89]:
test19(b=6,c=[4,5,6,"lol"],d=["sudh","kumar"],n=6+7j)

We found lol inside [4, 5, 6, 'lol']
We found sudh inside ['sudh', 'kumar']
We found kumar inside ['sudh', 'kumar']

{'b': 6, 'c': [4, 5, 6, 'lol'], 'd': ['sudh', 'kumar'], 'n': (6+7j)}

## Practice!!!

In [2]:
def hello_func():
    pass

In [4]:
print(hello_func()) If we dont use paranthesis then this might happen

None

In [5]:
print(hello_func)

<function hello_func at 0x0000017CCCB17A60>

In [ ]:
There is a term called DRY-dont repeat your code instead create functions!

In [6]:
def hello_func():
    return "this is returning function values"

In [ ]:
#So here it wont keeping printing the output unless you call the functions

In [7]:
hello_func()

'this is returning function values'

## The return keyword is to exit a function and return a value.

In [ ]:
#So now another example!

In [8]:
def hello_func(a):
    return '{} function Good morning!'.format(a)

In [9]:
hello_func()

TypeError: hello_func() missing 1 required positional argument: 'a'

In [10]:
hello_func('Hello')

'Hello function Good morning!'

In [11]:
hello_func(1)

'1 function Good morning!'

In [14]:
def hellofunc(a,b='Rukaiya'):
    return '{} Good morning {}'.format(a,b)

In [16]:
hellofunc('Hi')

'Hi Good morning Rukaiya'

In [ ]:
or

In [18]:
hellofunc('Hi','Ruksie')

'Hi Good morning Ruksie'

In [39]:
def student_info(*args,**kwargs):
    return *args, **kwargs

SyntaxError: invalid syntax (Temp/ipykernel_1208/3728453713.py, line 2)

In [35]:
def student_info(*args,**kwargs):
    return args, kwargs

In [36]:
student_info(3,4,lol=24,name="Ruksie")

((3, 4), {'lol': 24, 'name': 'Ruksie'})

In [37]:
print(student_info)

<function student_info at 0x0000017CCDF7B5E0>

In [38]:
print(student_info(3,4,lol=24,name="Ruksie"))

((3, 4), {'lol': 24, 'name': 'Ruksie'})

In [ ]:
Now look carefully

In [52]:
course=['Maths','Computer Science']
info={"name":'Ruksie',"age":22}

def studentinfor(course,info):
    return course,info

In [53]:
print(studentinfor(course,info))

(['Maths', 'Computer Science'], {'name': 'Ruksie', 'age': 22})

In [47]:
course=['Maths','Computer Science']
info={"name":'Ruksie',"age":22}

def studentinfor(*course,**info):
    return course,info

In [51]:
print(studentinfor(*course,**info))

(('Maths', 'Computer Science'), {'name': 'Ruksie', 'age': 22})

How to code if its a leap year or not!

In [1]:
def leap(year): #Here for function leap year is a variable
    return'Is a leap', year % 4==0 and (year % 100!=0 or year % 400 ==0)

In [2]:
leap(2020)

('Is a leap', True)