# Print Statements

In [178]:
#print Statements
print("string")

print('string',"string")

string
string string

In [2]:
print("""string""")

string

In [4]:
print("  ",'string' " . " "New" )

   string . New

# Comments

In [179]:
#Comment using hash and quotes for multiple line and single line
"""print("Hi this is my first code.") Question: why does this get printed and not the single line comment
Hey i am learning new things"""

'print("Hi this is my first code.") Question: why does this get printed and not the single line comment\nHey i am learning new things'

In [6]:
"""abc
dfg
hij
klm
nop"""

'abc\ndfg\nhij\nklm\nnop'

In [7]:
print("dddd
      hcbefkhfref")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_20808/3378022544.py, line 1)

In [241]:
print("  \n  adcfhgferuk\n" "\nhello")

  adcfhgferuk

hello

# Variable Declaration

In [20]:
a=20

In [14]:
a

20

In [ ]:
print(a)#Here we have called the assigned variable for the value 20

In [1]:
print("a") #Here it is a string value

a

In [4]:
b="Rukaiya"

In [5]:
b #a

'Rukaiya'

In [2]:
c="writer"

In [3]:
c

'writer'

In [4]:
print(c) #So when u print there is no single quotes for the string value represented in the output.

writer

In [ ]:
How t

In [23]:
a=25  
b=30+2-4*8 
c="abchde",  "I love ice cream"

In [24]:
a,b,c

(25, 0, ('abchde', 'I love ice cream'))

In [25]:
print(c)#If multiple strings then for separartion single quotes will be present

('abchde', 'I love ice cream')

# DataType of the variable declared

In [26]:
# To find the "type" of the data we use type() function.
type(a)

int

In [27]:
type(b)

int

In [28]:
type(c)

tuple

In [29]:
a="abc"+30

TypeError: can only concatenate str (not "int") to str

In [30]:
a="abc" "+" "30"

In [31]:
a #String Concatenation

'abc+30'

In [32]:
a="abc"  "30"

In [33]:
print(a)

abc30

In [34]:
a="abc" + "30"

In [35]:
a

'abc30'

In [36]:
b=52+53

In [37]:
b

105

In [1]:
"Abbas" * "Abbas"

TypeError: can't multiply sequence by non-int of type 'str'

In [2]:
"Abbas"*2

'AbbasAbbas'

In [38]:
b= a+b #Since a=abc30 & b=105 a datatype is string & b datatype is integer so they cannot be c

TypeError: can only concatenate str (not "int") to str

# c=3_7 #Doubt

In [39]:
type(c)

tuple

In [40]:
c

('abchde', 'I love ice cream')

In [41]:
c=2*4+1

d=3-(-2)+2+13/2

In [42]:
c #Why does the code not change the output inspite of it being wrong #Doubt

9

In [43]:
a,b,c,d

('abc30', 105, 9, 13.5)

In [44]:
print(a,b,c,d)

abc30 105 9 13.5

# Can a variable name be declared with a string type and int type together

In [88]:

1r=2+3

SyntaxError: invalid syntax (Temp/ipykernel_20808/2736531973.py, line 2)

In [99]:
2c="abc"

SyntaxError: invalid syntax (Temp/ipykernel_20808/3044761001.py, line 1)

In [89]:
#Also can a variable have a capital string value?
ABC=10

In [91]:
ABC

10

In [45]:
#Also can a variable have capital string and while calling the output can it be in small alphabets.

In [47]:
abc

NameError: name 'abc' is not defined

In [48]:
b#=sbc #since b was earlier assigned the following value.

105

In [49]:
!h=0

'h' is not recognized as an internal or external command,
operable program or batch file.

In [57]:
h!=0

False

In [58]:
h=!0

In [59]:
h

["'0' is not recognized as an internal or external command,",
 'operable program or batch file.']

In [107]:
.p=9

SyntaxError: invalid syntax (Temp/ipykernel_20808/3113323101.py, line 1)

In [108]:
@t=p

SyntaxError: invalid syntax (Temp/ipykernel_20808/3638279882.py, line 1)

In [113]:
@y"="44

SyntaxError: invalid syntax (Temp/ipykernel_20808/3212700214.py, line 1)

In [3]:
y@=9

NameError: name 'y' is not defined

In [6]:
y_=1

In [8]:
y_

1

In [2]:
@e

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_19832/3721574584.py, line 1)

In [126]:
"""EOFError is raised when one of the built-in functions input() or raw_input() hits an end-of-file condition (EOF) 
without reading any data. This occurs when we have asked the user for input but have not provided any input in the 
input box"""

'EOFError is raised when one of the built-in functions input() or raw_input() hits an end-of-file condition (EOF) \nwithout reading any data. This occurs when we have asked the user for input but have not provided any input in the \ninput box'

In [21]:
#Can underscore be used when declaring a variable?
_a=345

In [22]:
_a

345

Doubts
How code of Ampersent value works

In [27]:
#Can ampersent value be used to declare a variable?

g=876
#It means the left operand and the right operand are always evaluated. & is the bitwise AND operator

In [28]:
g&=89

In [30]:
g

72

In [68]:
j=7
j&=99

In [69]:
j

3

In [24]:
b=3

In [25]:
b&=78

In [26]:
b

2

In [6]:
c.=0

SyntaxError: invalid syntax (Temp/ipykernel_5456/387100218.py, line 1)

In [ ]:
#PLease explain How?

In [ ]:
a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a | b = 1010
         |
        0100
      = 1110
      = 14 (Decimal)

# Always write the code in a story language easier for the programmer and the reader to understand

In [192]:
name="Rukaiya"
Id="student"
Roll_Number="8"
Class="B"

# Boolean Variable

True=1
False=0

In [193]:
a=true

NameError: name 'true' is not defined

In [194]:
o=True
p=False

In [195]:
o,p

(True, False)

In [196]:
print(o,p)

True False

In [ ]:
#TRUE=1 & FALSE=0

In [197]:
True + True + True + False + True

4

In [198]:
False - True + True

0

In [200]:
print(True + True + True + False + True)

4

In [199]:
print(False - True + True)

0

In [201]:
True + True - False

2

Note: So in numpy this code might work and give an output inf but in Core Python this cannot work

In [74]:
True / False

ZeroDivisionError: division by zero

In [72]:
False/True

0.0

# Complex Numbers

Complex numbers are Real Numbers + Imaginary Numbers

In [207]:
n= 45 + 3j
#where 45 is the real number and 3 is the imaginary number and
#j is the notation and no other variable other than j can be used as a notation

In [208]:
n

(45+3j)

In [209]:
type(n)

complex

In [215]:
m= 8+7r #j is the notation and no other variable other than j can be used as a notation

SyntaxError: invalid syntax (Temp/ipykernel_20808/1454152732.py, line 1)

In [34]:
x=20+3j
y=30+4j

In [35]:
#Complex multiplication is a more difficult operation to understand from either an algebraic or a geometric point of view.
#Let’s do it algebraically first, and let’s take specific complex numbers to multiply, say 3 + 2i and 1 + 4i. 
#Each has two terms, so when we multiply them, we’ll get four terms:
#(3 + 2i)(1 + 4i) = 3 + 12i + 2i + 8i2.
#Now the 12i + 2i simplifies to 14i, of course. What about the 8i2?
#Remember we introduced i as an abbreviation for √–1, the square root of –1.
#In other words, i is something whose square is –1. Thus, 8i2 equals –8. Therefore,(3 + 2i)(1 + 4i) equals –5 + 14i.

In [36]:
x*y #(20+3j)(30+4j)600+80j+90j+12j^2=600+170j+12j^2=600+170j+12*-1=600-12+170j = 588+170j

(588+170j)

In [37]:
1 + "ruks"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
x.real

20.0

In [39]:
x.imag

3.0

In [216]:
#Heterogenous Data Type
#In python Heterogenous data type cannot perform any sort of operations where heterogenous datatype is two different values.
"Only two similar type of datasets can perform operations"

'Only two similar type of datasets can perform operations'

In [36]:
#For example
str(35)+"24"

'3524'

In [218]:
#So here we do is Type Casting

## CONVERSIONs : 2 TYPES : IMPLICIT CONVERSION & EXPLICIT CONVERSION 

IMPLICIT TYPE CONVERSION:
Implicit Type Conversion is automatically performed by the Python interpreter. Python avoids the loss of data in Implicit Type Conversion. Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.
datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>

Value of num_new: 124.23
datatype of num_new: <class 'float'>

Type casting means:
Converting one variable's datatype to the other variable's datatype. It is an Explicit type conversion.

EXPLICIT TYPE CONVERSION:
Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
Python supports Dynamic typing as well as strong typing.

STRONG TYPING CONCEPT:
Strong typing means that variables do have a type and that the type matters when performing operations on a variable. ... For example Python allows one to add an integer and a floating point number, but adding an integer to a string produces error.


Floating point number occupies more space than integer.
Also it does upcasting i.e 
Python automatically converts one data type to another data type. This process doesn't need any user involvement
Python promotes the conversion of lower data type, for example, integer to higher data type says float to avoid data loss. 
This type of conversion or type casting is called UpCasting.

Dynamic Typing Concept:
Python is a dynamically typed language. This means that the Python interpreter does type checking only as code runs, and the type of a variable is allowed to change over its lifetime.

Upcasting: Upcasting is the typecasting of a child object to a parent object.
Downcasting: Similarly, downcasting means the typecasting of a parent object to a child object. Downcasting cannot be implicit.

What are functions in Python?
Defining Functions in Python

In computer programming, a function is a named section of a code that performs a specific task. This typically involves taking some input, manipulating the input and returning an output

In [12]:
def add(num1,num2,num3):
    print("Number 1 -",  num1)
    print("Number 2 -",  num2)
    print("Number 3 -",  num3)
    addition=num1 + num2 + num3
    return addition
answer=add(3,2,5)
print(answer)

Number 1 - 3
Number 2 - 2
Number 3 - 5
10

In [11]:
def mul(num1,num2):
    print("Number position 1- ",num1)
    print("Number position 2- ",num2)
    Multiplication= num1*num2
    return Multiplication
a=mul(2,5)
print(a)

Number position 1-  2
Number position 2-  5
10

In [1]:
#For instance
str(1)+ "ruks"

#Type Casting

#SO THIS CONCEPT IS CALLED AS STRONG TYPING CONCEPT

'1ruks'

In [38]:
#Concatenation Operation means the process of merging two or more strings.

In [41]:
#With String data type only 2 OPERATIONS work well, i.e ADDITION and MULTIPLICATION
#example:
"Ruksie" + "Abbas"

'RuksieAbbas'

### Without print statement a back slash wouldn't work

In [14]:
"Ruksie ""\n" * 6

'Ruksie Ruksie Ruksie Ruksie Ruksie Ruksie '

In [18]:
print("Ruksie\n"*6)

Ruksie
Ruksie
Ruksie
Ruksie
Ruksie
Ruksie

In [5]:
"Abbas" " " * 3

'Abbas Abbas Abbas '

In [61]:
"Abbas"
print("Abbas")

Abbas

In [46]:
"Abbas" *3

'AbbasAbbasAbbas'

In [47]:
"Abbas"" " *3

'Abbas Abbas Abbas '

## Here for String value typecasting wont work.

In [48]:
int("Abbas")* 3

ValueError: invalid literal for int() with base 10: 'Abbas'

In [20]:
str("Abbas")*3

'AbbasAbbasAbbas'

In [19]:
str("2")*8

'22222222'

## But here for integer value type casting will work.

In [49]:
int("3")*4

12

In [21]:
int("4")*9

36

## Here type casting for Alpha Numerical would not work either.

In [50]:
int("abdf234") * 4

ValueError: invalid literal for int() with base 10: 'abdf234'

In [51]:
#How to take value from user?
"So input() is the inbuilt function in core python"

'So input() is the inbuilt function in core python'

In [52]:
a=5

In [53]:
a

5

In [6]:
a=input()

4

In [7]:
a

'4'

Q1) Take an 3 inputs from the user and perform the following operations
(a+b)/c then further on add the output with the complex variable and then add the final result with your name

In [12]:
a=int(input("Enter 1st number: "))
b=int(input("Enter 2nd number: "))
c=int(input("Enter the third number: "))

d=(a+b)/c
print(d)
e=d+3+4j
print(e)
n=str(e) + "Rukaiya"
print(n)

Enter 1st number: 2
Enter 2nd number: 4
Enter the third number: 8
0.75
(3.75+4j)
(3.75+4j)Rukaiya

In [65]:
a=int(input("Enter first number: ")) #Here  we have type casted the string literal to integar
b=int(input("Enter sec number: "))
c=int(input("Enter third number: "))
d=((a+b)/c)
print(d)
e=d+(4+2j)
print(e)
f="Rukaiya"
print(str(e)+ str(f))
type(e)

Enter first number: 5
Enter sec number: 15
Enter third number: 5
4.0
(8+2j)
(8+2j)Rukaiya

complex

In [ ]:
a=int(input("First number: "))
b=int(input("Second number: "))
c=int(input("Third number: "))
d=(a+b)/c
e=2+3j
f=str(d+e)
g="Rukaiya"
h=f+g
#Alternate as mentioned above
#print(str(f)+str(g))

# If else Statements
#they are inbuild keywords

Value Keywords: True, False, None.
Operator Keywords: and, or, not, in, is.
Control Flow Keywords: if, elif, else.
Iteration Keywords: for, while, break, continue, else.
Structure Keywords: def, class, with, as, pass, lambda.
Returning Keywords: return, yield.
Import Keywords: import, from, as.

### In every programming Languages there are key words like True and False, if, else etc.

### The main difference between both the statements is that when break keyword comes, it terminates the execution of the current loop and passes the control over the next loop or main body, whereas when continue keyword is encountered, it skips the current iteration and executes the very next iteration in the loop.

In [ ]:
#INBUILD KEY WORDS LIKE IF ELSE TRUE & FALSE etc....
if a<34:
    pass
#So when in python if you dont want any output or result you simply use inbuilt keyword pass

In [ ]:
a=int(input("Enter number:"))
if a < 30:  #Here for any if else st. we either obtain True to move to the below line or False to terminate.
    print("Data is lesser than 30 and I am fine with it! ")

Here in coding language Hierarchy is very important
Without indentation we cannot prioritize and hence cannot decide the order of preference.

In [24]:
r=int(input("Enter a number:"))
if r < 30:
    print("Entered value is less than 30")
elif r < 100:
    print(" Entered value is less 100 ")
else:
    print("The data is greater than  100 ")

Enter a number:120
The data is  greater than  100

In [ ]:
"""Q) If salary less than 1000 buy car
if salary less than 500 buy bike
if salary less than 100 manage expenses 
if salary none of the above mentioned print not affordable"""

In [28]:
salary=int(input("Enter your salary: "))
if salary<1000:
    print("Car is Affordable ")
    if salary<500:
        print("Bike is Preferrable")
        if True:
            print("Wont print further")
elif salary<100:
    print("Need to manage my Expenses ")
else:
    print("Nothing is Affordable")

Enter your salary: 5
Car is Affordable
Bike is Preferrable
Wont print further

In [15]:
"a"+"a"

'aa'

In [16]:
"abbas"*"abbas"

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
"A"*3

'AAA'

In [18]:
"a"+"R"

'aR'

In [74]:
def name():
    name=input("Enter your name:")
    if name==name.isalpha() and name==name.upper() and name==name.title():
         return("Correct format of the name")
    elif name==name.isalpha()and name==str(name.lower()):
         return("This is elif statement of the name")
    else:
        return "Please enter a valid name"

In [75]:
name()

Enter your name:*

'Please enter a valid name'