In [25]:
n=5
i=1
while i<=n:
    print(i)
    i+=1
#else:
    #print("In else statement")

1
2
3
4
5

# So there are various data types  
String,Tuple,Dictionary,List etc

# String Data type ,String parsing Operations

In [3]:
r="My name is rukaiya"
#The above is an example of string "rukaiya" r,u,k,a,i,y,a these are the indicidual characters of the string.

In [4]:
r

'My name is rukaiya'

In [5]:
type(r)

str


# Indexing & String Slicing

In [6]:
#So in string r= "My name is rukaiya"
[r[0],r[1],r[2],r[3],r[4],r[5],r[6],r[7],r[8],r[9]]
#So here 0th index is M and the index value starts from 0 1 2 3 4 5 and so on.

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's']

In [6]:
r="My name is rukaiya"

In [7]:
len(r)

18

In [8]:
r[3]

'n'

In [9]:
r[3:10:1]
#How???

'name is'

In [9]:
r[9:2:-1]

'si eman'

In [11]:
r[::-1]

'ayiakur si eman yM'

In [12]:
#Now parsing in between the indexes.
#So what if you have have to parse through the indexes and need a few selected characters instead of one or two?
#How would you attain them?

# String Slicing for specific characters

x[lower bound:upperbound:stepcount]

# HERE THERE IS A LOWER BOUND & UPPER BOUND , WHERE UPPER BOUND IS EXCLUDED WHILE SLICING THE STRING!
EX:x=[3:10]
So here Lower bound is 3 & Upper bound is 9 while we exclude 10

In [11]:
#Slice From the Start
#Get the characters from the start to position 5 
b = "Hello, World!"
print(b[:5])

Hello

In [12]:
b

'Hello, World!'

In [18]:
b[13::-1]

'!dlroW ,olleH'

In [19]:
b[0]

'H'

In [14]:
len(b)

13

In [15]:
#Slice To the End
b="Hello World!"
print(b[:])

Hello World!

In [16]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [17]:
b = "Hello, World!"
print(b[-5:-2:])

orl

In [18]:
b = "Hello, World!"
print(b[8:11:1])

orl

In [19]:
b = "Hello, World!"
print(b[10:7:-1])

lro

In [20]:

r="My name is rukaiya"
r[3:10]
#So here the string will parse and pick indexes valued from 3 to 10 and not pick the 10th indexed value

'name is'

#So now further we will see 
r="My name is rukaiya"
r[3:10:1]
Where index 3 is the START POINT of the index 10 is the END POINT and 1 is the STEP SIZE OR JUMP SIZE

#So here we can get data in both ways 
#straight as well as reversed
So there is a reverse function but how do we parse through the strings without reverse functions??

REVERSE THE STRING CHARACTERS AS AN OUTPUT

In [28]:
r="My name is rukaiya"
r[3:10]

'name is'

In [32]:
r[17::-1]

'ayiakur si eman yM'

In [26]:
r[10:2:-1]

' si eman'

In [27]:
r[::-1]

'ayiakur si eman yM'

Why the above output??
Here 3 is the start point and 10 is the end point in the positive directed scale 
So now -1 is on the negative scale and takes a step count in the opposite direction and hence a conflict is caused leaving an 
empty output

In [28]:
r[-3:-10:-1]

'iakur s'

In [29]:
r[3:-6]
# here we have a SP as 3 and an EP as -6

'name is r'

In [30]:
r[3:9:2]

'nm '

In [31]:
r[::]

'My name is rukaiya'

In [32]:
r[::-1]

'ayiakur si eman yM'

In [33]:
r[::2]

'M aei uay'

In [34]:
r[:]

'My name is rukaiya'

In [35]:
r[::-1]

'ayiakur si eman yM'

In [36]:
r[-4:-1] #Note since -4 and -1 fall in the same direction thats the reason step count is +1

'aiy'

In [37]:
r[:-8]

'My name is'

In [38]:
r[-2:-7:-1]

'yiaku'

In [1]:
r="My name is rukaiya"

In [4]:
r[-2::-1]

'yiakur si eman yM'

# For loop
if we wanted to append or get particular characters or fetch something in particular we would need to use for loop
It helps to iterate through the data

In [2]:
r="My name is rukaiya"
for i in r:
    print(i)
#For loop will keep iterating its dataset till the given condition is proven wrong, similar to while loop.

M
y

n
a
m
e

i
s

r
u
k
a
i
y
a

In [4]:
r="My name is rukaiya"
for i in r:
    if i=="a":
        print(" Letter a is found in the string!")
    print(i)

M
y

n
 Letter a is found in the string!
a
m
e

i
s

r
u
k
 Letter a is found in the string!
a
i
y
 Letter a is found in the string!
a

In [5]:
r="My name is rukaiya"
for i in r:
    if i=="a":
        print("We found a!")
        continue
        
    print(i)

M
y

n
We found a!
m
e

i
s

r
u
k
We found a!
i
y
We found a!

In [43]:
for i in r:
    print(i)
else:
    print("This is the else condition when entire for loop gets iterated and exhausted")

M
y

n
a
m
e

i
s

r
u
k
a
i
y
a
This is the else condition when entire for loop gets iterated and exhausted

In [44]:
for i in r:
    if i=="n":
        break
    print(i)
    
else:
    print("This is the else condition")

M
y

Break statement totally eliminates out of the loop.

# Spot THE DIFFERENCES in break statement and continue statement

In [45]:
for i in r:
    if i=="n":
        continue
    print(i)
else:
    print("Not valid")
    
#LOGIC
#here in for loop Only if <<<<<< i=="n": <<<<<< Satisfies the required will enter continue, 
#else it will print the print statement i.e  print(i) 
#But when it meets the requirement i.e i=="n": then it will enter continue skipping the print statement i.e print(i) and 
#will go back Again to for loop i.e i=="n": and then once it has iterated through all the characters then 
#it will enter else statement.

M
y

a
m
e

i
s

r
u
k
a
i
y
a
Not valid

### Definition of continue statement So whatever is written for that iteration it will try to skip it and continue back in the loop.

In [46]:
#So all the possible things that are marked green are the inbuild functions

In [47]:
s="juzermerchant"
for i in s:
    if i=="r":
        print("This is r")
        continue
    print(i)

j
u
z
e
This is r
m
e
This is r
c
h
a
n
t

# RANGE Function

range(start, stop, step-1)

In [48]:
#Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x=5
for i in range(x):
    if i>=3:
        print(i)
#Why does it not include 5 it should include it right???

3
4

SOLUTION
Alternate method using range()

In [49]:
x=5
for i in range(x+1):
    if i>=3:
        print(i)
    # Because the stop count excludes the range, if 5 it will only print upto 4 not 5 
#even if we provide a statement.

3
4
5

In [21]:
#Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1:
for i in range(3,19,2):#Here theres a mistake we need to keep the stop count as 20 instead of 19 because stop point excludes
#the last number--print upper bound(3,20,2)
    print(i)
print("\r") 
print("Second code")
print("\r")
#Strictly using only range function
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17

Second code

3
5
7
9
11
13
15
17
19

In [51]:
#Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1


for i in range(3,20,2):
    print(i)

3
5
7
9
11
13
15
17
19

In [52]:
#Create a sequence of numbers from 3 to 5, and print each item in the sequence:

x = range(3, 6)
for n in x:
    print(n)

3
4
5

In [22]:
s="ineuron"
while i in range(len(s)):
    if i=="n":
        continue

In [54]:
s="rukaiya"
for i in range(len(s)):
    print(s[i])

r
u
k
a
i
y
a

In [55]:
s="ruksie"
for i in range(1,len(s)):
    if i == 4 :
        print("We found 4th index")
        continue
    elif i==5:
        print("We found 5th index")
        continue
    print(i)

1
2
3
We found 4th index
We found 5th index

In [23]:
for i in range(1,len(s)):
    if s[i] == r:
        print("Found r")
        continue
    
    print(s[i])

n
e
u
r
o
n

In [57]:
for i in range(1,len(s)):
    if s[i]==r:
        break
    print(s[i])

u
k
s
i
e

In [58]:
s="ineuron"
for i in range(len(s)):
    if s[i]=="n":
        continue
    print(s[i])

i
e
u
r
o

In [61]:
for i in s:#Reason for using range function! READ THE ERROR 
    if s[i]==n:
        continue
    print(s[i])

TypeError: 'int' object is not iterable

In [60]:
s=3
for i in range(s):
    print("*",end=" ")

* * *

In [7]:
a=8
for r in range(a):
    for k in range(r,a):
        print("+",end=" ")
    print()

+ + + + + + + +
+ + + + + + +
+ + + + + +
+ + + + +
+ + + +
+ + +
+ +
+

In [12]:
x=8
for i in range(x):
    for j in range(x-i):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
row=7
for i in range(row,0,-1):
    for j in range(row-i):
        print(" ",end="")
    
    for j in range(i):
        print("* ",end="")
    print()

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [88]:
a=9
for i in range(a):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(a-i-1):
        print("*",end=" ")
    for j in range(a-i):
        print("*",end=" ")

    print()
    
#Code explained by Sir in lecture
row=7
for number in range(row,0,-1):
    for column in range(row-number):
        print(" ",end="")
    for column in range(2*number-1):
        print("*", end="")
    print()  
    
#Another code
row=7
for number in range(row,0,-1):
    for column in range(row-number):
        print("+",end="")
    for column in range(number):
        print("* ", end="")
    print()

  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *
*************
 ***********
  *********
   *******
    *****
     ***
      *
* * * * * * *
+* * * * * *
++* * * * *
+++* * * *
++++* * *
+++++* *
++++++*

# BREAK THE PROBLEM USING RANGE FUNCTION

In [128]:
for number in range(6,0,-1):
    print(number)

6
5
4
3
2
1

In [131]:
 for column in range(6-5):
        print(column)

0

In [174]:
for number in range(row,0,-1):
    print(number)

7
6
5
4
3
2
1

In [235]:

row=7
for number in range(row,0,-1):
    for column in range(row-number):
        print(" ",end="")
    for column in range(number):
        print("* ", end="")
    print()

    #for column in range()

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [219]:
#Code explained by Sir in lecture
row=7
for number in range(row,0,-1):
    for column in range(row-number):
        print(" ",end="")
    for column in range(2*number-1):
        print("*", end="")
    print()

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [249]:
#Code explained by sir in lecture
num=5
m=2*num-2
for i in range(num,-1,-1):
    for j in range(m,0,-1):
        print(" ",end="")
    m=m+1
    for j in range(0,i+1):
        print("* ",end="")
    print("\r")
    
    
#PRINT THREM SEPARATELY TO UNDERSTAND    
#for i in range(5,-1,-1):print(i)    
#for j in range(8,0,-1):print(j)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

# The above and below codes are same please check

In [247]:
#Code on Udemy
rows = 5

k = 2 * rows-2

for i in range(rows, -1, -1):

    for j in range(k, 0, -1):

        print(" ",end="")

    k = k + 1

    for j in range(0, i + 1):# to get 5 rows (1,i+1)

        print("*", end=" ")

    print(" ")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [223]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [224]:
for j in range(8, 0, -1):
    print(j)

8
7
6
5
4
3
2
1

In [253]:
rows = 6

for num in range(rows):

    for i in range(num+1):

        print(num, end="") # print number

    # line after each row to display pattern correctly

    print("")

0
11
222
3333
44444
555555

In [264]:
rows=6
imag=rows*2-6
for number in range(0,rows):
    for j in range(imag,-1,-1):#Why spaces are printed 7 instead of 6? and when the range is (imag,0,-1) only 6 spaces are created?
        print("-",end="")
    imag+=1
    for j in range(rows-number):
        print("* ",end="")
    print("\r")

-------* * * * * *
--------* * * * *
---------* * * *
----------* * *
-----------* *
------------*

In [265]:
for j in range(6,0,-1):
    print(j)

6
5
4
3
2
1

In [93]:
row=7
for number in range(1,row+1):
    for column in range(number):
        print(number,end="")
    print("\r")

1
22
333
4444
55555
666666
7777777

In [269]:
rows=9
for number in range(1,rows+1):
    print(number)

1
2
3
4
5
6
7
8
9

In [272]:
rows=9
for number in range(1,rows+1):
    for j in range(number):
        print(number,end="")
    print("\r")

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [95]:
#Inverse of the above pattern
row=8
for number in range(row,0,-1):
    for column in range(number):
        print("*",end=" ")
    print(" ")

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# VARIATION 2

In [206]:
#Only seven columns printed cross check
row=8
for number in range(row,1,-1):#Because the stop point is 1
    for column in range(number-1):
        print("*",end=" ")
    print(" ")

*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [205]:
#Sirs question using while loop
n=9
i=0
while i<n:
    print(' '*(n-i-1)+'* '*(i+1))#String parcing example 
#s*5='sssss' so hence ' '*(n-i-1)=''*8=empty 8 spaces similarly break the problem down
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [274]:
#LEARN AND UNDERSTAND
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 9
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************
**iNeuron-FSDS**

# List data structure

So in Core python programming language there is no Array data structure, we can find one in numerical python eg: numpy

LIST IS AN ALTERNATIVE
A List holds a homogenous or heterogenous datatype in a list.
We need a variable where we can store name, no,eid etc.

In [285]:
l=list()

In [88]:
l=[] #l=["ruks", 8355,"rukaiya","abc jkl"]
l1=list()

In [90]:
l4=1,2,3

In [91]:
l4=list()

In [93]:
type(l4)

list

In [94]:
type(l)

list

In [ ]:
name="ruks"
number=8355
email="rukaiya"
add="abc jkl"

#OR

name, number, email, add="ruks", 8355,"rukaiya","abc jkl"

#But what if I dont want to assign too many variables and want it all atonce???

So we have multiple choices, out of which one is LIST DATA STRUCTURE

In [288]:
l[0]

'ruks'

In [289]:
l[1]

8355

In [290]:
l[2]

'rukaiya'

In [293]:
l #Similar to string data type list data structure has indexes that start from 0 and move towards 1, 2, 3 etc...

['ruks', 8355, 'rukaiya', 'abc jkl']

In [292]:
l[3]

'abc jkl'

In [294]:
type(l)

list

In [ ]:
So now we can append or delete or add using OPERATIONS 
so there is LIST OPERATIONS & STRING OPERATIONS

# Ways of creating a list

In [81]:
#ONE
#Creating an empty list
l1=[]
type(l1)

list

In [83]:
l2=[]
type(l2)

list

In [82]:
#TWO
#Another way of creating a list is-
l2=list()
#where l2 is a variable assigned to FUNCTION LIST()
l2
#So when we call for l2 it shows []

[]

In [2]:
l=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62]

In [3]:
l

['ruks', 8355, 'rukaiya', 'abc jkl', True, (25+89j), [2, 3, 4, 'asjk'], 2.62]

In [4]:
type(l)

list

In [5]:
#To print the type of every possible data type present in the list

for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [115]:
count=0

for i in l:
    if type(i)==float or type(i)==int :
        count=count+i
        print(count)

8355
8357.62

In [7]:
#To print the type of every possible data type present in the list
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [126]:
l=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62]
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
        print(n)

9

In [136]:
l=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62]
for i in l:
    if type(i)==list:
        c=0
        for j in i:
            if type(j)==int:
                c=c+j
                print(c)

2
5
9

In [105]:
for i in l:
    if type(i)==complex:
            print(i)

(25+89j)

In [64]:
for i in l:
    if type(i)==str or type(i)==list:
        print(i)

ruks
rukaiya
abc jkl
[2, 3, 4, 'asjk']

In [44]:
l=["ruks", 8355,"rukaiya","abc jkl",True,25+89j,[2,3,4,"asjk"],2.62]

In [45]:
l[2:0:-1]

['rukaiya', 8355]

In [12]:
l[0:8]

['ruks', 8355, 'rukaiya', 'abc jkl', True, (25+89j), [2, 3, 4, 'asjk'], 2.62]

In [13]:
l[8:2:-1]

[2.62, [2, 3, 4, 'asjk'], (25+89j), True, 'abc jkl']

In [14]:
l[2:8:2]

['rukaiya', True, [2, 3, 4, 'asjk']]

In [18]:
l[5]

(25+89j)

In [19]:
l[2]

'rukaiya'

In [21]:
l[9:0:-1]

[2.62, [2, 3, 4, 'asjk'], (25+89j), True, 'abc jkl', 'rukaiya', 8355]

In [47]:
l[6]

[2, 3, 4, 'asjk']

In [48]:
l[1:8]

[8355, 'rukaiya', 'abc jkl', True, (25+89j), [2, 3, 4, 'asjk'], 2.62]

In [49]:
l[0:9]

['ruks', 8355, 'rukaiya', 'abc jkl', True, (25+89j), [2, 3, 4, 'asjk'], 2.62]

In [50]:
l[0]

'ruks'

In [23]:
l[88:100:2]#Wont show an error because the systax is right but the data in that range is not available

[]

In [52]:
l

['ruks', 8355, 'rukaiya', 'abc jkl', True, (25+89j), [2, 3, 4, 'asjk'], 2.62]

# Practice

#Simple Number Triangle Pattern
1
22
333
4444
55555

In [125]:
rows=6
for i in range(1,rows+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [122]:
#Inverted Pyramid of Ascending Numbers
r=9
for i in range(r,0,-1):
    for j in range(i):
        print(i,end=" ")
    print()

9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [53]:
#Simple Number Triangle Pattern
row=6
for number in range(1,row):
    for j in range(number):
        print(number,end="")
    print("\r")

1
22
333
4444
55555

In [105]:
#Inverted Pyramid of Ascending Numbers
rows=9
for numbers in range(rows,0,-1):
    for j in range(numbers):
        print(numbers,end=" ")
    print("\r")

9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [127]:
rows=5
for i in range(rows,0,-1):
    for j in range(i):
        j=rows-i+1
        print(j,end=" ")
    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [94]:
#Half Pyramid Pattern of Numbers
rows=6
for i in range(1,rows):
     
    for j in range(i):
       
        j=j+1
       
        print(j,end=" ")
    print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
i=1
for j in range(i):
    print(j)

0

In [ ]:

5 5 5 5 5 

4 4 4 4 

3 3 3 

2 2 

1

In [40]:
#Inverted Pyramid of Descending Numbers
rows=5
for numbers in range(rows,0,-1):
    for j in range(numbers):
        print(numbers, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [106]:
#Inverted Pyramid of the Same Digit

In [4]:
rows=7
for i in range(rows,0,-1):
    for j in range(i):
        j=rows
        print(j,end="")
    print("")

7777777
777777
77777
7777
777
77
7

In [ ]:
1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

# CONTINUE on 8th May

In [145]:
#Reverse Pyramid of Numbers

rows=5
for i in range(1,rows+1):
    for j in range(i):
        j=j+1
        print(j,end="")
    print("\r")

1
12
123
1234
12345

In [1]:
a=" we all are a part of Full Stack"
for i in range(len(a)):
    if a[i]=="a":
        print(i)

4
8
12
15
29

In [2]:
for i in range(len(a)):
    if i==5:
        print(a[i])

l

In [3]:
#Question without using a len() find the logic to count the number of strings
s = "this is a full stack batch"
count = 0 
for i in  s :
    count = count +1 
print(count)

26

In [4]:
#Without using [::-1] print inverse 
for i in range(1, len(s)) :
    print(s[-i])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [33]:
#Question without using a len() find the logic to count the number of strings
s = "this is a full stack batch"

In [39]:
count=0

for i in s:
    
    count=count+1
print(count)

26

In [99]:
n=7
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(n-i-1):
        print("*",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

In [107]:
n=7
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [40]:
n=7
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    for j in range(i+1-1):
        print("_",end=" ")
    for j in range(i+1-1):
        print("_",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * * * * * * * * * * *
* * * * * * _ _ * * * * * *
* * * * * _ _ _ _ * * * * *
* * * * _ _ _ _ _ _ * * * *
* * * _ _ _ _ _ _ _ _ * * *
* * _ _ _ _ _ _ _ _ _ _ * *
* _ _ _ _ _ _ _ _ _ _ _ _ *

In [ ]:
n=7
for i in range(n):
    for j in range()

In [114]:
r="concentrate"
count=0
for i in range(len(r)):
    count=count+1
print(count)

11

In [41]:
n=7
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    for j in range(i+1-1):
        print("_",end=" ")
    for j in range(i+1-1):
        print("_",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * * * * * * * * * * *
* * * * * * _ _ * * * * * *
* * * * * _ _ _ _ * * * * *
* * * * _ _ _ _ _ _ * * * *
* * * _ _ _ _ _ _ _ _ * * *
* * _ _ _ _ _ _ _ _ _ _ * *
* _ _ _ _ _ _ _ _ _ _ _ _ *

In [88]:
n=7
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    for j in range(i+1-1):
        print(" ",end=" ")
    for j in range(i+1-1):
        print(" ",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * * * * * * * * * * *
* * * * * *     * * * * * *
* * * * *         * * * * *
* * * *             * * * *
* * *                 * * *
* *                     * *
*                         *

In [113]:
u=6
for i in range(u):
    for j in range(i+1):
        print("*",end=" ")
    
    for j in range(u-i-1):
        print(" ",end=" ")

    for j in range(u-i-1):
         print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

*                     *
* *                 * *
* * *             * * *
* * * *         * * * *
* * * * *     * * * * *
* * * * * * * * * * * *

#### Q.Ask user to give integer inputs to make a list. Store only even values given and print the list.

In [153]:
n=int(input("Enter the length of list: "))
l=[]
for i in range(n):
    elements=int(input("Enter the integer values: "))
    if elements%2==0:
        l.append(elements)
print(l)

Enter the length of list: 6
Enter the integer values: 1
Enter the integer values: 2
Enter the integer values: 3
Enter the integer values: 4
Enter the integer values: 5
Enter the integer values: 6
[2, 4, 6]

#### Take 10 integer inputs from user and store them in a list and print them on screen.

In [155]:
n=10
l=[]
while n>0:
    value=int(input("Enter integers to get the desired list: "))
    l.append(value)
    n=n-1
print(l)

Enter integers to get the desired list: 1
Enter integers to get the desired list: 2
Enter integers to get the desired list: 3
Enter integers to get the desired list: 4
Enter integers to get the desired list: 5
Enter integers to get the desired list: 6
Enter integers to get the desired list: 7
Enter integers to get the desired list: 8
Enter integers to get the desired list: 9
Enter integers to get the desired list: 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

In [159]:
n=10
l=[]
for i in range(n):
    p=int(input("Enter the desired values: "))
    l.append(p)
print(l)

Enter the desired values: 5
Enter the desired values: 6
Enter the desired values: 8
Enter the desired values: 7
Enter the desired values: 45
Enter the desired values: 64
Enter the desired values: 12
Enter the desired values: 2
Enter the desired values: 5
Enter the desired values: 6
[5, 6, 8, 7, 45, 64, 12, 2, 5, 6]

#### Take 10 integer inputs from user and store them in a list. Again ask user to give a number. Now, tell user whether that number is present in list or not.
( Iterate over list using while loop )

In [172]:
n=10
l=[]
while n>0:
    el=int(input("Enter integers: "))
    l.append(el)
    n-=1
print(l)
q=int(input("Enter a number: "))
if q in l:
    print("The number is present in the list! ")
else:
    print("The number is not present in the list")

Enter integers: 5
Enter integers: 4
Enter integers: 5
Enter integers: 55
Enter integers: 6
Enter integers: 8
Enter integers: 9
Enter integers: 7
Enter integers: 4
Enter integers: 5
[5, 4, 5, 55, 6, 8, 9, 7, 4, 5]
Enter a number: 8
The number is present in the list!

In [ ]:
p,n,o,e,z=0,0,0,0,0

#Here i declared all the variable together, you can also write them seperately

print("Enter 20 integers\n")

for i in range(1,20+1):
    n=(int)(input())

    if(n>0):
        p+=1

    if(n<0):

        n+=1

    if(n%2!=0):

        o+=1

    if(n%2==0):
        e+=1

    if(n==0):

        z+=1

print("no. of Positive numbers:",p)

print("no. of Negative numbers:",n)

print("no. of odd numbers:",o)

print("no. of even numbers:",e)

print("no. of zeroes",z)

#### Take 10 integer inputs from user and store them in a list. Now, copy all the elements in another list but in reverse order.

In [35]:
n=10
l=[]
for i in range(n):
    elements=int(input("enter the elements: "))
    l.append(elements)
print(l)
r=l[::-1]
print(r)

enter the elements: 1
enter the elements: 2
enter the elements: 3
enter the elements: 4
enter the elements: 5
enter the elements: 6
enter the elements: 7
enter the elements: 8
enter the elements: 9
enter the elements: 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
r=l[10:0:-1]
print(r)

#### Write a program to find the sum of all elements of a list

In [43]:
a=5
l=[]
count=0
while a>0:
    print("Enter the elements in int: ")
    el=int(input())
    l.append(el)
    count=count+el
    a=a-1
print(l)
print(count)

Enter the elements in int:
1
Enter the elements in int:
2
Enter the elements in int:
3
Enter the elements in int:
4
Enter the elements in int:
5
[1, 2, 3, 4, 5]
15

#### Write a program to find the product of all elements of a list.

In [44]:
a=5
l=[]
prod=1
while a>0:
    print("Enter the elements in int: ")
    el=int(input())
    l.append(el)
    prod=prod*el
    a=a-1
print(l)
print(prod)

Enter the elements in int:
1
Enter the elements in int:
2
Enter the elements in int:
3
Enter the elements in int:
4
Enter the elements in int:
5
[1, 2, 3, 4, 5]
120

#### Initialize and print each element in new line of a list inside list.

In [5]:
a=[[1,2,3],[4,5,6]]
i = 0
while i<len(a):
    j = 0
    while j < len(a[i]):
        print (a[i][j])
        j = j+1
    i = i+1

1
2
3
4
5
6

In [51]:
s=[[1,2,3],[1,1,1]]
for i in s:
    for j in i:
        print(j)

1
2
3
1
1
1

Find largest and smallest elements of a list.

In [3]:
n=int(input("Enter the length of the list you want"))
l=[]
for i in range(n):
    elements=int(input("Enter the values for your list: "))
    l.append(elements)
    
print(l)
l.sort()
print("max element is: ",l[n-1],"and min element is: ",l[0])

Enter the length of the list you want5
Enter the values for your list: 4
Enter the values for your list: 1
Enter the values for your list: 2
Enter the values for your list: 8
Enter the values for your list: 7
[4, 1, 2, 8, 7]
max element is:  8 and min element is:  1

Now without using max and min functions

In [77]:
n=int(input("ENter the length of the list you want"))
l=[]
maxel=0

for i in range(n):
    elements=int(input("Enter the values for your list: "))
    l.append(elements)
print(l)
minel=l[0]
for x in l:
    if x>maxel:
        maxel=x
    else:
        if x<minel:
            minel=x
print(maxel)
print(minel)
#Here we are replacing the value and substituting it again again and again.

ENter the length of the list you want7
Enter the values for your list: 12
Enter the values for your list: 45
Enter the values for your list: -9
Enter the values for your list: 74
Enter the values for your list: -2
Enter the values for your list: 65
Enter the values for your list: 2
[12, 45, -9, 74, -2, 65, 2]
74
-9

Write a program to print sum, average of all numbers, smallest and largest element of a list.

In [85]:
l=[2,89,58,6,41]

count=0
avg=0
maxel=0
for i in l:
    count=count+i
    avg=count/2
print(count)
print(avg)
l.sort()
for x in l:
    if x>maxel:
        maxel=x
print(l[0],"is the minimum element",maxel,"is the maximum element")

196
98.0
2 is the minimum element 89 is the maximum element

Write a program to check if elements of a list are same or not it read from front or back. E.g.-
2	3	15	15	3	2
Write a program to check if elements of a list are same or not it read from front or back. E.g.-
2	3	15	15	3	2
Basically to check whether the list is a pallindrome or not

In [98]:
n=int(input("Enter len of list you want: "))
l=[]
for i in range(n):
    ele=int(input("Enter the pallindromic elements you want! "))
    l.append(ele)
print(l)

if l[::]==l[::-1]:
    print("The list is a pallindrome")
else:
    print("The list is not a pallindrome try again!")

Enter len of list you want: 5
Enter the pallindromic elements you want! 1
Enter the pallindromic elements you want! 5
Enter the pallindromic elements you want! 2
Enter the pallindromic elements you want! 5
Enter the pallindromic elements you want! 1
[1, 5, 2, 5, 1]
The list is a pallindrome

Make a list by taking 10 input from user. Now delete all repeated elements of the list.
E.g.-
INPUT : [1,2,3,2,1,3,12,12,32]
OUTPUT : [1,2,3,12,32]

In [110]:
a=[]
n=10

for i in range(n):
    el=int(input("Enter the values: "))
    a.append(el)
print(a)       
        
print(set(a))

Enter the values: 1
Enter the values: 2
Enter the values: 3
Enter the values: 4
Enter the values: 5
Enter the values: 41
Enter the values: 2
Enter the values: 3
Enter the values: 1
Enter the values: 5
[1, 2, 3, 4, 5, 41, 2, 3, 1, 5]
{1, 2, 3, 4, 5, 41}

In [113]:
a=[]
for i in range(10):
    elements=int(input("Enter the integer values: "))
    a.append(elements)
print(a)
l=[]
for i in a:
    if i not in l:
        l.append(i)
print(l)

Enter the integer values: 1
Enter the integer values: 2
Enter the integer values: 2
Enter the integer values: 5
Enter the integer values: 45
Enter the integer values: 48
Enter the integer values: 49
Enter the integer values: 48
Enter the integer values: 43
Enter the integer values: 57
[1, 2, 2, 5, 45, 48, 49, 48, 43, 57]
[1, 2, 5, 45, 48, 49, 43, 57]

#### Printing of even numbers using while loop and taking input from the user in the form of a list

In [ ]:
n=int(input("Enter the length of the list:"))
l=[]
while n>0:
    a=int(input("Enter a number"))
    l.append(a)
    n=n-1
    print(l)
    for i in l:
        if i%2==0:
            print("Even number",i)
        else:
            print("Not even",i)